<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Sell Product Online</span>
                    <p style="font-size:15px;"><i>Sell POS product to clinic online shop.</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Product</a>
                                </span>
                                <span class="description">{{ product.product_treatment_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                        <li><a href="#media" data-toggle="tab">Media & Other Information</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Product Information</span>
                                                        <p style="font-size:15px;"><i>product information in
                                                                details.</i></p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Product</label>
                                                            <select id="product_id" class="form-control">
                                                                <option value=""></option>
                                                                <option v-for="(row, index) in options.products"
                                                                    :key="index" :value="row.id">
                                                                    {{ row.name }}
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Discount Type</label>
                                                            <div class="radio">
                                                                <label>
                                                                    <input required type="radio"
                                                                        v-model="model.discount_type"
                                                                        name="discount_type" id="type1" value="nominal">
                                                                    Nominal
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input required type="radio"
                                                                        v-model="model.discount_type"
                                                                        name="discount_type" id="type2" value="percent">
                                                                    Percent
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Discount <span v-if="model.discount_type == 'percent'">1</span></label>
                                                            <money class="form-control" v-model="model.discount_1"
                                                                v-bind="formatter.discount" />
                                                        </div>

                                                        <div class="form-group" v-show="model.discount_type == 'percent'">
                                                            <label for="">Discount 2</label>
                                                            <money class="form-control" v-model="model.discount_1"
                                                                v-bind="formatter.discount" />
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"
                                                                        v-model="model.use_discount_gimmick">
                                                                    Use Discount Gimmick
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Weight Measurement Unit</label>
                                                            <select id="weight_uom_id" class="form-control">
                                                                <option value=""></option>
                                                                <option :value="row.id"
                                                                    v-for="(row, index) in options.uoms" :key="index">
                                                                    {{ row.display }}
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Weight</label>
                                                            <money class="form-control" v-bind="formatter.weight"
                                                                v-model="model.weight" />
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Description</label>
                                                            <textarea rows="5" class="form-control"
                                                                v-model="model.description"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Product Detail</span>
                                                        <p style="font-size:15px;"><i>Preview detail product from POS data</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Name</label>
                                                        <p class="form-control-static">{{ product.product_treatment_name }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Price</label>
                                                        <p class="form-control-static">{{ product.price }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Sellable Stock</label>
                                                        <p class="form-control-static">{{ product.item.sellable_stock }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Brand</label>
                                                        <p class="form-control-static">{{ product.item.brand }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Unit Value</label>
                                                        <p class="form-control-static">{{ product.item.unit_value }} {{ product.item.uom.alias }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="media">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Media</span>
                                                        <p style="font-size:15px;"><i>Display your product images.</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Upload image</label>
                                                            <input type="file" ref="image" class="form-control" @change="handleFileUpload">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Preview (click to delete)</label>
                                                            <div class="row mt-3" v-if="model.media.length">
                                                                <div class="col-md-6" v-for="(row, index) in model.media" :key="index">
                                                                    <div class="upload-preview" @click="deleteMedia(index)">
                                                                        <img :src="row.url" alt="">
                                                                        <p>{{ row.title }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <p class="mt-3" v-else>upload atleast 1 product image.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Other Informations</span>
                                                        <p style="font-size:15px;"><i>Add additional information about product</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Field</label>
                                                            <input type="text" class="form-control" v-model="information.id">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Value</label>
                                                            <input type="text" class="form-control" v-model="information.value">
                                                        </div>
                                                        <div class="form-group text-right">
                                                            <button class="btn btn-primary btn-sm" @click.prevent="addInformation">
                                                                <i class="fa fa-plus"></i> Add
                                                            </button>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Field</th>
                                                                            <th>Value</th>
                                                                            <th width="50px">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody v-if="model.rawInformations.length">
                                                                        <tr v-for="(row, index) in model.rawInformations" :key="index">
                                                                            <td>{{ row.id }}</td>
                                                                            <td>{{ row.value }}</td>
                                                                            <td>
                                                                                <button class="btn btn-default btn-sm" @click="deleteInformation(index)">
                                                                                    <i class="fa fa-trash text-danger"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tbody v-else>
                                                                        <tr>
                                                                            <td colspan="3">No other informations.</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer text-right">
                    <a class="btn btn-primary" href="#" @click.prevent="confirmStore"><i class="fa fa-shopping-bag"></i>
                        Sell</a>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cropperModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="cropperModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cropperModalLabel">
                            Image Preview
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="cropper">
                            <vue-cropper
                                ref="cropper"
                                :src="uploaded"
                                alt="image preview"
                                :aspect-ratio="1"
                                :view-mode="2"
                                :min-container-width="modalWidth"
                                :min-container-height="modalWidth"
                            ></vue-cropper>
                        </div>

                        <div class="form-group mt-3">
                            <label for="">Image Title</label>
                            <input type="text" class="form-control" v-model="media.title">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="crop">
                            <i class="fa fa-save"></i> Crop & Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueCropper from 'vue-cropperjs';
    import Slick from 'vue-slick';
    import 'slick-carousel/slick/slick.css';
    import 'cropperjs/dist/cropper.css';

    export default {

        components: { VueCropper, Slick },

        data() {
            return {

                options: {
                    products: [],
                    uoms: []
                },

                model: {
                    use_discount_gimmick: 1,
                    discount_1: 0,
                    discount_2: 0,
                    discount_type: 'nominal',
                    product_id: '',
                    description: '',
                    rawInformations: [],
                    informations: '[]',
                    weight: 0,
                    weight_uom_id: '',
                    media: []
                },

                formatter: {
                    discount: {
                        thousands: '.',
                        precision: 2,
                        prefix: 'Rp.',
                        suffix: '',
                        masked: false
                    },

                    weight: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },
                },

                information: {
                    id: '',
                    value: ''
                },

                uploaded: '',

                media: {
                    title: '',
                    url: ''
                },

                product: {
                    product_treatment_name: '(choose product)',
                    price: '(choose product)',
                    item: {
                        brand: '(choose product)',
                        unit_value: '(choose product)',
                        uom: {
                            alias: ''
                        },
                        sellable_stock: '(choose product)'
                    },
                },
            }
        },

        mounted() {
            $('select').select2({
                placeholder: 'Choose option',
                width: '100%'
            });

            this.bootstrap();
        },

        methods: {
            bootstrap() {
                this.fetchProducts();
                this.fetchUoms();
            },

            asset(path) {
                return `/${path}`;
            },

            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    
                });
            },


            loadProduct(id) {
                let endpoint = `${BASEURL}/api/v1/products/${id}`;

                axios.get(endpoint).then(res => {
                    this.product = res.data.model;
                });
            },


            handleFileUpload() {
                let file = this.$refs.image.files[0];

                if ( ! file) {
                    return false;
                }

                let fileReader = new FileReader();
                let vm = this;

                fileReader.onload = (event) => {
                    this.uploaded = event.target.result;
                    // rebuild cropperjs with the updated source
                    this.$refs.cropper.replace(event.target.result);
                    $('#cropperModal').modal('show');
                    this.$refs.image.files[0] = null;
                };

                fileReader.readAsDataURL(file);
            },

            crop() {
                let model = {
                    url: this.$refs.cropper.getCroppedCanvas({ width: 500, height: 500 }).toDataURL(),
                    title: this.media.title
                };

                this.model.media.push(model);

                this.media.title = '';
                $("#cropperModal").modal('hide');
            },

            /**
             * Store confirmation.
             * 
             * @author Vicky Hariadi.
             */
            confirmStore() {
                if ( ! this.model.media.length) {
                    swal({
                        title: 'Error',
                        text: 'images are empty, please choose at least 1 image.',
                        icon: 'error'
                    })
                    return;
                }
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is correct.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                        this.store();
                    }
                })
            },

            /**
             * store form.
             */
            store() {
                let endpoint = `${BASEURL}/api/v1/malls/products`;

                this.model.information = JSON.stringify(this.model.rawInformations);

                axios.post(endpoint, this.model).then(res => {
                    swal({
                        title: 'Published',
                        text: 'Your product has been published.',
                        icon: 'success'
                    });

                    this.$router.push({
                        name: 'MallProductIndex'
                    });
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not publish product, please contact IT.',
                        icon: 'error'
                    });
                });
            },

            /**
             * Fetch product options.
             * 
             * @author Vicky Hariadi.
             */
            fetchProducts() {
                let endpoint = `${BASEURL}/api/v1/products/options`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.products = res.data.options;

                    $('#product_id').change(function () {
                        vm.model.product_id = $(this).val();
                    });
                });
            },

            /**
             * Fetch product options.
             * 
             * @author Vicky Hariadi.
             */
            fetchUoms() {
                let endpoint = `${BASEURL}/api/v1/uoms/options?kind=mg`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.uoms = res.data.options;

                    $('#weight_uom_id').change(function () {
                        vm.model.weight_uom_id = $(this).val();
                    });
                });
            },


            deleteMedia(index) {
                this.model.media.splice(index, 1);
            },

            addInformation() {
                if ( ! (this.information.id && this.information.value)) {
                    swal({
                        title: 'Error',
                        text: 'Field and Value are required',
                        icon: 'error'
                    });

                    return;
                }

                let information = { ...this.information };

                this.model.rawInformations.push(information);

                this.information = {
                    id: '',
                    value: ''
                };
            },


            deleteInformation(index) {
                this.model.rawInformations.splice(index, 1);
            }

        },

        computed: {
            modalWidth() {
                let bodyWidth = $("body").width();
                return bodyWidth >= 768 ? 570 : 300;
            }
        },

        watch: {
            'model.discount_type': function (discount_type) {
                if (discount_type == "nominal") {
                    this.formatter.discount.suffix = "";
                    this.formatter.discount.prefix = "Rp.";
                } else {
                    this.formatter.discount.suffix = "%";
                    this.formatter.discount.prefix = "";
                }
            },

            'model.product_id': function (product_id) {
                this.loadProduct(product_id);
            },

            'model.weight_uom_id': function (uom_id) {
                let uom = this.options.uoms.find(row => row.id == uom_id)

                this.formatter.weight.suffix = " " + uom.alias;
            }
        }
    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .cropper-container {
        width: 100% !important;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .upload-preview img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    }

    .slider img {
        width: 100%;
    }
</style>
