<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Detail Sell Product Online</span>
                    <p style="font-size:15px;"><i>Sell POS product to clinic online shop.</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Product</a>
                                </span>
                                <span class="description">{{ model.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                        <li><a href="#media" data-toggle="tab">Media & Other Information</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Product Information</span>
                                                        <p style="font-size:15px;"><i>product information in
                                                                details.</i></p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Product</label>
                                                            <p class="form-control-static">{{ model.name }}</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Discount Type</label>
                                                            <p class="form-control-static">{{ model.discount_type }}</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Discount 1</label>
                                                            <p class="form-control-static">{{  model.discount_type =='percent' ? model.discount_1 :currency(model.discount_1) }} {{ model.discount_type == 'percent' ? '%' : ''  }}</p>

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Discount 2</label>
                                                            <p class="form-control-static">{{  model.discount_type =='percent' ? model.discount_1 :currency(model.discount_2) }} {{ model.discount_type == 'percent' ? '%' : ''  }}</p>


                                                        </div>

                                                        <div class="form-group">
                                                           <p class="form-control-static">
                                                                <span v-if="model.use_dicount_gimmick">
                                                                    <i class="fa fa-check text-success"></i> Use Discount Gimmick
                                                                </span>
                                                                <span v-else>
                                                                    <i class="fa fa-times text-danger"></i> Not Use Discount Gimmick
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Weight Measurement Unit</label>
                                                            <p class="form-control-static">{{ model.weight_uom_display }}</p>

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Weight</label>
                                                            <p class="form-control-static">{{ model.weight }} {{ model.weight_uom_display }}</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Description</label>
                                                            <p class="form-control-static">{{ model.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Product Detail</span>
                                                        <p style="font-size:15px;"><i>Preview detail product from POS data</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Name</label>
                                                        <p class="form-control-static">{{ model.name }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Price</label>
                                                        <p class="form-control-static">{{ model.price }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Sellable Stock</label>
                                                        <p class="form-control-static">{{ model.sellable_stock }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Brand</label>
                                                        <p class="form-control-static">{{ model.brand }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="">Unit Value</label>
                                                        <p class="form-control-static">{{ model.unit_value }} {{ model.uom_display }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="media">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Media</span>
                                                        <p style="font-size:15px;"><i>Display your product images.</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Preview image</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row mt-3" v-if="model.media.length">
                                                                <div class="col-md-6" v-for="(row, index) in model.media" :key="index">
                                                                    <div class="upload-preview">
                                                                        <img :src="'/storage/malls/media/' + row.url" alt="">
                                                                        <p class="form-control-static">{{ row.title }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Other Informations</span>
                                                        <p style="font-size:15px;"><i>Add additional information about product</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Field</th>
                                                                            <th>Value</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody v-if="model.informations.length > 0">
                                                                        <tr v-for="(row, index) in model.informations" :key="index">
                                                                            <td>{{ row.id }}</td>
                                                                            <td>{{ row.value }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tbody v-else>
                                                                        <tr>
                                                                            <td colspan="3">No other informations.</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer text-right">
                    <a class="btn btn-primary" href="#" @click.prevent="confirmStore"><i class="fa fa-shopping-bag"></i>
                        Sell</a>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cropperModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="cropperModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cropperModalLabel">
                            Image Preview
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-3">
                            <label for="">Image Title</label>
                            <input type="text" class="form-control" v-model="media.title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id:null,
                options: {
                    products: [],
                    uoms: []
                },

                model: {
                    name:'',
                    use_dicount_gimmick: 1,
                    discount_1: 0,
                    discount_2: 0,
                    discount_type: 'nominal',
                    product_id: '',
                    description: '',
                    rawInformations: [],
                    informations: {
                        id:'',
                        value:''
                    },
                    weight: 0,
                    weight_uom_id: '',
                    weight_uom_display: '',
                    price: '',
                    sellable_stock: '',
                    unit_value: '',
                    uom_display: '',
                    media: []
                },

                formatter: {
                    discount: {
                        thousands: '.',
                        precision: 2,
                        prefix: 'Rp.',
                        suffix: '',
                        masked: false
                    },

                    weight: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },
                },

                information: {
                    id: '',
                    value: ''
                },

                uploaded: '',

                media: {
                    title: '',
                    url: ''
                },

                product: {
                    product_treatment_name: '(choose product)',
                    price: '(choose product)',
                    item: {
                        brand: '(choose product)',
                        unit_value: '(choose product)',
                        uom: {
                            alias: ''
                        },
                        sellable_stock: '(choose product)'
                    },
                },
            }
        },

        mounted() {
            this.id = this.$route.params.id;
            this.bootstrap();
        },

        methods: {
            bootstrap() {
                this.fetchProducts();
                this.fetchUoms();
                this.load();

            },

            asset(path) {
                return `/${path}`;
            },

            currency(number) {
                if ( ! number) {
                    return 0;
                }

                return number.toLocaleString('id-ID');
            },
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    
                });
            },


            loadProduct(id) {
                let endpoint = `${BASEURL}/api/v1/products/${id}`;

                axios.get(endpoint).then(res => {
                    this.product = res.data.model;
                });
            },

            /**
             * Fetch product options.
             * 
             * @author Vicky Hariadi.
             */
            fetchProducts() {
                let endpoint = `${BASEURL}/api/v1/products/options`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.products = res.data.options;

                    $('#product_id').change(function () {
                        vm.model.product_id = $(this).val();
                    });
                });
            },

            /**
             * Fetch product options.
             * 
             * @author Vicky Hariadi.
             */
            fetchUoms() {
                let endpoint = `${BASEURL}/api/v1/uoms/options?kind=mg`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.uoms = res.data.options;

                    $('#weight_uom_id').change(function () {
                        vm.model.weight_uom_id = $(this).val();
                    });
                });
            },


            deleteMedia(index) {
                this.model.media.splice(index, 1);
            },

            addInformation() {
                if ( ! (this.information.id && this.information.value)) {
                    swal({
                        title: 'Error',
                        text: 'Field and Value are required',
                        icon: 'error'
                    });

                    return;
                }

                let information = { ...this.information };

                this.model.rawInformations.push(information);

                this.information = {
                    id: '',
                    value: ''
                };
            },


            deleteInformation(index) {
                this.model.rawInformations.splice(index, 1);
            },

            load() {
                let endpoint = `${BASEURL}/api/v1/malls/products/${this.id}`;

                axios.get(endpoint).then(res => {
                    this.model = res.data.model;
                });
            }

        },

        computed: {
            modalWidth() {
                let bodyWidth = $("body").width();
                return bodyWidth >= 768 ? 570 : 300;
            }
        },

        watch: {
            'model.discount_type': function (discount_type) {
                if (discount_type == "nominal") {
                    this.formatter.discount.suffix = "";
                    this.formatter.discount.prefix = "Rp.";
                } else {
                    this.formatter.discount.suffix = "%";
                    this.formatter.discount.prefix = "";
                }
            },

            'model.product_id': function (product_id) {
                this.loadProduct(product_id);
            },

            'model.weight_uom_id': function (uom_id) {
                let uom = this.options.uoms.find(row => row.id == uom_id)

                this.formatter.weight.suffix = " " + uom.alias;
            }
        }
    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .upload-preview img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    }

    .slider img {
        width: 100%;
    }
</style>