<template>
    <div class="box box-solid" style="overflow-x: auto;">
        <div id="FormMedicalConsign" class="box-body" style="width: 800px; margin:auto; padding-right:22px;">
            <table>
                <tr>
                    <td style="border-right:0 solid black;">
                        <h4 style="text-align:right;"><b>SURAT PERSETUJUAN / PENOLAKAN MEDIS</b></h4>
                    </td>
                    <td style="border-left:0 solid black;">
                        <h4 style="text-align:center;"><b>No. RM: <input class="input-temp" v-model="model.norm" type="text" id="norm" name="norm" placeholder="..."/></b></h4>
                    </td>
                </tr>
                <tr style="text-align:justify; border: 0; border-left:1px solid black; border-right:1px solid black;">
                    <td colspan="2">
                        <br>
                        <span> Saya yang bertanda tangan di bawah ini :</span>
                        <div class="row">
                            <div class="col-md-6">
                                Nama
                            </div>
                            <div class="col-md-6 row">
                                <div class="col-md-8">
                                    : <input class="input-temp" v-model="model.name" type="text" id="name" name="name" placeholder="..."/>
                                </div>
                                <div class="col-md-4">
                                    <select name="gender" id="gender" v-model="model.gender">
                                        <option value="L">Laki - laki</option>
                                        <option value="P">Perempuan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                Umur / Tgl Lahir
                            </div>
                            <div class="col-md-6">
                                : {{ ageModel }} / <input class="input-temp" v-model="model.birth_date" type="date" id="birth_date" name="birth_date"/>
                            </div>
                            <div class="col-md-6">
                                Alamat
                            </div>
                            <div class="col-md-6">
                                : <input class="input-temp" v-model="model.address" type="text" id="address" name="address" placeholder="..."/>
                            </div>
                            <div class="col-md-6">
                                Telp.
                            </div>
                            <div class="col-md-6">
                                : <input class="input-temp" v-model="model.phone" type="text" id="phone" name="phone" placeholder="..."/>
                            </div>
                        </div>
                        <br>
                        Menyatakan dengan sesungguhnya dari saya sendiri 
                        <select name="as" id="as" class="input-temp" v-model="model.as">
                            <option value="Orang Tua">sebagai Orang Tua dari : </option>
                            <option value="Suami">sebagai Suami dari : </option>
                            <option value="Istri">sebagai Istri dari : </option>
                            <option value="Anak">sebagai Anak dari : </option>
                            <option value="Wali">sebagai Wali dari : </option>
                        </select>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                Nama
                            </div>
                            <div class="col-md-6">
                                : {{ customer.full_name }}
                            </div>
                            <div class="col-md-6">
                                Umur / Tgl Lahir
                            </div>
                            <div class="col-md-6">
                                : {{ age }} / {{ customer.birth_date.replaceAll('/', ' - ') }}
                            </div>
                            <div class="col-md-6">
                                Alamat
                            </div>
                            <div class="col-md-6">
                                : {{ customer.address }}
                            </div>
                        </div>
                        <br>
                        Dengan ini menyatakan 
                        <select name="agree" id="agree" class="input-temp" v-model="model.agree">
                            <option value="SETUJU">SETUJU</option>
                            <option value="MENOLAK">MENOLAK</option>
                        </select>
                        untuk dilakukan tindakan medis berupa <br>
                        <textarea name="form" id="form" rows="3" style="width: 80%" v-model="model.form"></textarea><br>
                        Dari penjelasan yang diberikan, telah saya mengerti segala hal yang berhubungan dengan indikasi tindakan tersebut, proses tindakan medis yang akan dilakukan dan kemungkinan pasca tindakan yang dapat terjadi sesuai penjelasan yang diberikan.
                    </td>
                </tr>
                <tr style="border-bottom:1px solid black;">
                    <td style="border:0; border-left:1px solid black;">
                        <span style="">&nbsp;</span><br>
                        <span style="">Dokter,</span>
                        <div style="width:300px;">
                            <canvas id="signature-pad14" class="signature-pad" height="100px"></canvas>
                            <hr style="border-top:2px solid black;">
                        </div>
                        <input class="input-temp" v-model="model.doctor" type="text" id="doctor" name="doctor" placeholder="..." /> <span class="temp" style="display:none;"><b>{{model.doctor}}</b></span>
                    </td>
                    <td style="border:0; border-right:1px solid black;">
                        <span style="">Bekasi, <input type="date" id="date" class="input-temp"></span><br>
                        <span style="">Yang membuat pernyataan,</span>
                        <div style="width:300px;">
                            <canvas id="signature-pad14" class="signature-pad" height="100px"></canvas>
                            <hr style="border-top:2px solid black;">
                        </div>
                        <input class="input-temp" v-model="model.customer_ttd" type="text" id="customer_ttd" name="customer_ttd" placeholder="..." /> <span class="temp" style="display:none;"><b>{{model.customer_ttd}}</b></span>
                    </td>
                </tr>
            </table>
            
        </div>
         <div class="box-footer">
            <button @click.prevent="save" class="btn save btn-primary" style="float:right;"><i class="fa fa-floppy-o"></i>Save</button>
        </div>
    </div>
</template>

<script>
import  html2pdf from 'html2pdf.js'
var canvas1, canvas2, signaturePad1, signaturePad2
export default {
    data() {
        return {
            customer_id: window.location.hash.split('/').at(-1),
            model: {
                id_customer: window.location.hash.split('/').at(-1),
                norm: '',
                name: '',
                birth_date: '',
                gender: 'L',
                address: '',
                phone: '',
                file: '',
                as: 'Orang Tua',
                agree: 'SETUJU',
                form: '',
                customer_ttd: '',
                doctor: ''

            },
            customer: {
                full_name: '',
                birth_date: '',
                gender: '',
                address: ''
            },
            checked: []
        }
    },
    mounted() {
        this.loadPatientInfo()
        this.initTtdCanvas()
        this.coretInit()
    },
    
    computed: {
        todayDate() {
            const date = new Date();
            return `${String(date.getDate()).padStart(2,'0')}-${String(date.getMonth()).padStart(2,'0')}-${date.getFullYear()}`
        },
        birthDate() {
            return this.customer.birth_date.split('-').reverse().join('-')
        },
        baseUrl() {
            return window.location.origin
        },
    },
    methods: {
        initTtdCanvas() {
            const canvas = document.querySelectorAll('.signature-pad')
            canvas.forEach(e => new SignaturePad(e, {}))
        },
        loadPatientInfo() {
            let endpoint = `${BASEURL}/api/v1/customers/${this.customer_id}`;
            axios.get(endpoint).then(res => {
                this.customer = res.data.model
            });
        },

        save() {
            document.querySelector('.save').setAttribute('disabled','disabled')
            const temp = document.querySelectorAll('.temp')
            const inputTemp = document.querySelectorAll('.input-temp')
            inputTemp.forEach(e => {
                e.style.display = 'none'
            })
            temp.forEach(e => {
                e.style.display = 'inline'
            })
            this.keepChecked()
            setTimeout(() => {
                
                this.toPdf()
            },50)
        },

        keepChecked() {
            const checkInput = document.querySelectorAll('.check-field')
            checkInput.forEach((e,i) => {
                if (e.checked) {
                    this.checked[i] = true
                } else {
                    this.checked[i] = false
                }
            })
        },

        check() {
            const checkInput = document.querySelectorAll('.check-field')
            checkInput.forEach((e,i) => {
                if (this.checked[i]) {
                    e.checked = true
                    e.setAttribute('checked','checked')
                }
            })
        },

        toPdf() {
            var opt = {
              margin:       2,
              filename:     `Medical Consign ${this.customer.full_name}.pdf`,
              image:        { type: 'jpeg', quality:  0.98 },
              html2canvas:  { scale: 1 },
            };
            
            html2pdf(document.querySelector('#FormMedicalConsign'),opt).then(e => {
                this.check()
                // this.toImage()
            })
            html2pdf().set(opt).from(document.querySelector('#FormMedicalConsign')).toPdf().output('datauristring').then(pdfAsString => {
                console.log(pdfAsString)
                this.saveDb(pdfAsString)
            });
            return
        },

        toImage() {
            html2pdf().from(document.querySelector('#FormMedicalConsign')).outputImg().then(e => {
                this.saveDb(e.src)
            });
        },

        saveDb(fileUrl) {
            let endpoint = `${BASEURL}/customers/saveMedicalConsign`;
            this.model.file = fileUrl;
            axios.post(endpoint, this.model).then(e => window.location.href = `${BASEURL}/customers/${this.customer_id}`);
        },
        

        populateSignature() {
            var signatur1 = signaturePad1.toDataURL('image/png');
            var signatur2 = signaturePad2.toDataURL('image/png');
            if(signaturePad1.isEmpty())
            {
                this.model.signature1 = ''
                this.model.signature2 = ''
            }else{
                this.model.signature1 = signatur1
                this.model.signature2 = signatur2
            }
        },
        coret(e) {
            if(e.target.style.textDecoration === 'line-through') {
                e.target.style.textDecoration = 'none'
            } else {
                e.target.style.textDecoration = 'line-through'
            }
        },
        coretInit() {
            const el = document.querySelectorAll('.coret')
            el.forEach(e => e.style.textDecoration = 'line-through')
        }
    },
    computed: {
        age() { // birthday is a date
            let birthday = new Date(this.customer.birth_date);
            var ageDifMs = Date.now() - birthday.getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return Math.abs(ageDate.getUTCFullYear() - 1970);
        },

        ageModel() { // birthday is a date
            if(this.model.birth_date == '')
                return 0
            
            let birthday = new Date(this.model.birth_date);
            var ageDifMs = Date.now() - birthday.getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return Math.abs(ageDate.getUTCFullYear() - 1970);
        },
    }
}
</script>

<style scoped>
.check-field {
    width: 100%;
}
p, li {
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    border: 1px solid black;
}

td {
    padding: .5em;
}
ul {
  list-style-type: disc ;
}
.selected-round {
    border: 2px solid black;
    border-radius: 68%;
}
.coret {
    cursor: pointer;
}
input, select{
    background-color:transparent !important;
    border:none !important;
}
</style>