<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-5">
                            <span style="font-size:20px;">Purchase Order Detail</span> 
                            <span style="font-size:20px; font-weight: bold" v-if="isMutation">( Mutation )</span>
                            <p style="font-size:15px;"><i>Show purchase order overview and detail items.</i></p>
                        </div>
                        <div class="col-md-7 col-xs-12 text-right">
                            <a class="btn btn-social btn-success" v-if="model.status != 'closed'" @click="confirmCloseOrder"><i class="fa fa-check"></i>Mark as Closed</a>
                            <a class="btn btn-social btn-primary" @click="createReceive" v-if="model.status != 'closed'"><i class="fa fa-truck"></i>Create Receive Item</a>
                        </div>
                    </div>
                </div>
                
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#deliveries" v-if="isMutation" data-toggle="tab">Delivery Logs</a></li>
                        <li><a href="#receives" data-toggle="tab">Receive Logs</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="overview">
                            <form class="form form-invoice" data-toggle="validator" method="post">
                                <div class="box-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Status</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.status.toUpperCase() }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Supplier</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.supplier.name }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Warehouse</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.warehouse ? model.warehouse.name : 'Gudang Pusat' }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Date</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.transdate }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Due Date</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.duedate }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Payment Method</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.payment_method.bank_name }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Total</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">Rp. {{ currency(this.total) }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Remarks</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.remarks }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Item(s)</label>
                                            <div class="col-md-10">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="30px">No.</th>
                                                            <th>Item</th>
                                                            <th>Unit Value.</th>
                                                            <th>Requested</th>
                                                            <th v-if="isMutation">Delivered</th>
                                                            <th>Received</th>
                                                            <th>Price</th>
                                                            <th>Sub Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-if="model.details.length">
                                                        <tr v-for="(row, index) in model.details" :key="index">
                                                            <td>{{ index + 1 }}</td>
                                                            <td>{{ row.item.name }}</td>
                                                            <td>{{ row.item.unit_value }} {{ row.item.uom.display }}</td>
                                                            <td>{{ row.qty }}</td>
                                                            <td v-if="isMutation">{{ row.delivered_qty }}</td>
                                                            <td>{{ row.qty - row.outstanding_qty }}</td>
                                                            <td>Rp. {{ currency(row.price) }}</td>
                                                            <td>Rp. {{ currency(row.subtotal) }}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td colspan="7">
                                                                No Details. Please fill details.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr>
                                        <a :href="'/purchase-orders/'+id+'/print'" target="_blank" class="btn btn-success pull-right">
                                            Print
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="deliveries">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Delivery Code</th>
                                        <th>Delivered At</th>
                                        <th>Sender</th>
                                    </tr>
                                </thead>
                                <tbody v-if="deliveryLogs.length">
                                    <tr v-for="(row, index) in deliveryLogs" :key="index">
                                        <td>{{ index + 1 }}</td>
                                        <td>
                                            <router-link :to="{ name: 'LogisticMutationDetail', params: { id: row.id } }">{{ row.code }}</router-link>
                                        </td>
                                        <td>{{ row.transdate }}</td>
                                        <td>{{ row.sender.name }}</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="5">No receive item logs.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="receives">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Receive Code</th>
                                        <th>Received Date</th>
                                        <th>Received By</th>
                                    </tr>
                                </thead>
                                <tbody v-if="logs.length">
                                    <tr v-for="(row, index) in logs" :key="index">
                                        <td>{{ index + 1 }}</td>
                                        <td>
                                            <router-link :to="{ name: 'LogisticPurchaseReceiveDetail', params: { id: row.id } }">{{ row.code }}</router-link>
                                        </td>
                                        <td>{{ row.transdate }}</td>
                                        <td>{{ row.receiver.name }}</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="5">No receive item logs.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            id: null,
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                suppliers: [],
                items: [],
                banks: [],
                uoms: []
            },

            logs: [],
            deliveryLogs: [],
            

            detail: {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                item: {
                    uom: {}
                },
                subtotal: 0
            },

            model: {
                supplier_id: '',
                term_id: '',
                payment_method_id: '',
                transdate: '',
                duedate: '',
                payment_method: {},
                supplier: {},
                total: '',
                remarks: '',
                status: '',
                details: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.id = this.$route.params.id;

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.load()
            this.fetchLogs();
            this.fetchDeliveryLogs();
        },

        asset(path) {
            return `/${path}`;
        },


        /**
         * Load item.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/${this.id}`;

            axios.get(endpoint).then(res => {
                this.model = res.data.model;
            });
        },

        /**
         * Fetch receiving logs.
         */
        fetchLogs() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives/orders/${this.id}`;

            axios.get(endpoint).then(res => {
                this.logs = res.data.collection;
            });
        },

        /**
         * Fetch delivery logs.
         * 
         * @author Vicky Hariadi
         */
        fetchDeliveryLogs() {
            let endpoint = `${BASEURL}/api/v1/logistics/warehouse_mutations/orders/${this.id}`;

            axios.get(endpoint).then(res => {
                this.deliveryLogs = res.data.collection;
            });
        },


        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchSuppliers() {
            let endpoint = `${BASEURL}/api/v1/suppliers/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.suppliers = res.data.options;

                $('#supplier_id').change(function () {
                    vm.model.supplier_id = $(this).val();
                });
            });
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchBanks() {
            let endpoint = `${BASEURL}/api/v1/banks/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.banks = res.data.options;

                $('#payment_method_id').change(function () {
                    vm.model.payment_method_id = $(this).val();
                });
            });
        },

        /**
         * Fetch unit of measurement options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUoms() {
            let endpoint = `${BASEURL}/api/v1/uoms/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.uoms = res.data.options;
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Create receive item.
         */
        createReceive() {
            let query = {
                supplier_id: this.model.supplier_id,
                order_id: this.model.id
            };

            this.$router.push({ name: 'LogisticPurchaseReceiveCreate', query });
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            $('#duedate').datepicker('setDate', '+1w');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#duedate').change(function () {
                let date = $(this).val();
                vm.model.duedate = date.split('/').reverse().join('-');
            });


            $('#duedate').change();
            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders`;

            this.model.total = this.total;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your purchase order has been stored to database.',
                    icon: 'success'
                });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store purchase order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmCloseOrder() {
            swal({
                title: 'Are you sure?',
                text: "If purchase order closed, it will not able to receive item.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.closeOrder();
                }
            })
        },

        /**
         * Close purchase order.
         */
        closeOrder() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/${this.id}/close`;

            axios.post(endpoint).then(res => {
                swal({
                    title: 'Closed',
                    text: 'Your purchase order has been closed.',
                    icon: 'success'
                });

                this.$router.push({ name: 'LogisticPurchaseOrderIndex' })
            }).catch(e => {
                swal({
                    title: 'Failed',
                    text: 'Could not close purchase order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Add item detail.
         * 
         * @author Vicky Hariadi.
         */
        addDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;
            
            this.model.details.push(detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;

            this.model.details.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
            
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            };


            $('#detail_item_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Delete begin stock.
         * 
         * @author Vicky Hariadi.
         */
        deleteDetail(index) {
            this.model.details.splice(index, 1);
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            this.detail = { ...this.model.details[index] }
            this.is_detail_editing = true;
            this.detail_edit_index = index;
            $('#detail_item_id').val(this.detail.item_id).change();

            $('#detailModal').modal('show');
            
        },
    },

    watch: {
        /**
         * Autofill item information as default.
         * 
         * @author Vicky Hariadi.
         */
        'detail.item_id': function (newVal) {
            let item = this.options.items.find(row => row.id == newVal);

            if (item) {
                this.detail.uom_display = this.options.uoms.find(row => row.id == item.uom_id).display;
                this.detail.unit_value = item.unit_value;
                this.detail.price = item.cogs;
            }
            
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.qty': function (newVal) {
            this.detail.subtotal = newVal * this.detail.price;
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.price': function (newVal) {
            this.detail.subtotal = newVal * this.detail.qty;
        }
    },

    computed: {
        total() {
            if ( ! this.model.details.length) {
                return 0;
            }

            return this.model.details.reduce((acc, row) => {
                return acc + row.subtotal;
            }, 0);
        },

        /**
         * return purchase order type (mutation or just normal purchase order)
         * 
         * @author Vicky Hariadi.
         */
        isMutation() {
            return this.model.supplier.supplier_type == 'internal'
        }
    }
}
</script>
