<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <router-link class="btn btn-success" :to="{ name: 'LogisticPurchaseOrderCreate' }">
                <i class="fa fa-plus-circle"></i> Create Purchase Order
            </router-link>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th width="30px">No.</th>
                        <th>Code</th>
                        <th>Supplier</th>
                        <th>Warehouse</th>
                        <th>P.O. Date</th>
                        <th>Due Date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in orders" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.code }}</td>
                        <td>{{ row.supplier.name }}</td>
                        <td>{{ row.warehouse ? row.warehouse.name : 'Gudang Pusat' }}</td>
                        <td>{{ row.transdate }}</td>
                        <td>{{ row.duedate }}</td>
                        <td>{{ row.total }}</td>
                        <td>{{ row.status.toUpperCase() }}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-danger" @click="confirmDelete(row.id)">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <button class="btn btn-success" @click="detail(row.id)">
                                    <i class="fa fa-eye"></i> Detail
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            orders: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },


        /**
         * Fetch orders list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders`;

            axios.get(endpoint).then(res => {
                this.orders = res.data.collection.map(row => {
                    row.total = this.currency(row.total);
                    return row;
                });

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Delete confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmDelete(id) {
            swal({
                title: 'Are you sure?',
                text: "Your data will permanently deleted.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.delete(id);
                }
            })
        },

        /**
         * Delete rejection message.
         */
         rejectDelete() {
             swal({
                title: 'Denied',
                text: 'Can not delete purchase order because it has receiving logs.',
                icon: 'error'
            });
         },

         /**
          * Delete data
          * 
          * @author Vicky Hariadi.
          */
         delete(id) {
             let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/${id}`;

             axios.post(endpoint, { _method: 'DELETE' }).then(res => {
                 if (res.data.status == 'denied') {
                     this.rejectDelete()

                     return
                 }

                 swal({
                    title: 'Delete',
                    text: 'Your purchase order has been deleted from database.',
                    icon: 'success'
                });

                let index = this.orders.findIndex(row => row.id == id)

                this.orders.splice(index, 1)
             });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticPurchaseOrderDetail', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>
