<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Create Work Order</span>
                    <p style="font-size:15px;"><i>Create new work order for producing goods</i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Person in Charge *</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="pic_id">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.pics" :key="index" :value="row.id">
                                            {{ row.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Start Date *</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control date" id="start_date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Due Date *</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control date" id="due_date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Remarks</label>
                                <div class="col-md-5">
                                    <textarea rows="4" class="form-control" v-model="model.remarks"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Item(s)</label>
                                <div class="col-md-10">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="30px">No.</th>
                                                    <th>Item</th>
                                                    <th>Unit Value.</th>
                                                    <th>Qty</th>
                                                    <th width="30px">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="model.details.length">
                                                <tr v-for="(row, index) in model.details" :key="index" @click="editDetail(index)">
                                                    <td>{{ index + 1 }}</td>
                                                    <td>{{ row.item_display }}</td>
                                                    <td>{{ row.unit_value }} {{ row.uom_display }}</td>
                                                    <td>{{ row.qty }}</td>
                                                    <td>
                                                        <button class="btn btn-light" @click.prevent.stop="deleteDetail(index)">
                                                            <i class="fa fa-trash text-danger"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        No Details. Please fill details.
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <a href="#" data-toggle="modal" data-target="#detailModal" class="btn btn-link">Add Item</a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="box-footer text-right">
                    <button @click.prevent="confirmStore" class="btn btn-primary btn-save"><i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
            </div>
            
        </div>

        <div class="modal fade" id="detailModal" role="dialog" aria-labelledby="detailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="detailModalLabel">
                            {{ is_detail_editing ? 'Edit' : 'Add' }} Item
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="" class="col-md-4">Product</label>
                            <div class="col-md-8">
                                <select id="detail_item_id" class="form-control" aria-describedby="helpBlockDetailItem">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.items" :key="index" :value="row.id">{{ row.name }}</option>
                                </select>
                                <span id="helpBlockDetailItem" class="help-block">*only products that has bill of material(s) are displayed.</span>
                            </div>
                        </div>
                        <div class="form-group row" v-if="detail.item_id">
                            <label for="" class="col-md-4">Unit Value</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{ detail.unit_value }} {{ detail.uom_display }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Qty</label>
                            <div class="col-md-8">
                                <input type="number" min="1" class="form-control" v-model="detail.qty">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetDetail">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateDetail" v-if="is_detail_editing">Update Item</button>
                        <button type="button" class="btn btn-primary" @click="addDetail" v-else>Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                pics: [],
                items: [],
                uoms: []
            },
            

            detail: {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1
            },

            model: {
                pic_id: '',
                start_date: '',
                due_date: '',
                remarks: '',
                details: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetchPics();
            this.fetchItems();
            this.fetchUoms();
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchPics() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.pics = res.data.options;

                $('#pic_id').change(function () {
                    vm.model.pic_id = $(this).val();
                });
            });
        },

        /**
         * Fetch unit of measurement options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUoms() {
            let endpoint = `${BASEURL}/api/v1/uoms/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.uoms = res.data.options;
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product&has_bom=1`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#start_date').datepicker('setDate', 'today');
            $('#due_date').datepicker('setDate', '+1w');
            
            let vm = this;

            $('#start_date').change(function () {
                let date = $(this).val();
                vm.model.start_date = date.split('/').reverse().join('-');
            });

            $('#due_date').change(function () {
                let date = $(this).val();
                vm.model.due_date = date.split('/').reverse().join('-');
            });


            $('#due_date').change();
            $('#start_date').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders`;

            this.model.total = this.total;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your work order has been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'ManufactureWorkOrderIndex' });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store work order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Add item detail.
         * 
         * @author Vicky Hariadi.
         */
        addDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;
            
            this.model.details.push(detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;

            this.model.details.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
            
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            };


            $('#detail_item_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Delete begin stock.
         * 
         * @author Vicky Hariadi.
         */
        deleteDetail(index) {
            this.model.details.splice(index, 1);
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            this.detail = { ...this.model.details[index] }
            this.is_detail_editing = true;
            this.detail_edit_index = index;
            $('#detail_item_id').val(this.detail.item_id).change();

            $('#detailModal').modal('show');
            
        },
    },

    watch: {
        /**
         * Autofill item information as default.
         * 
         * @author Vicky Hariadi.
         */
        'detail.item_id': function (newVal) {
            let item = this.options.items.find(row => row.id == newVal);

            if (item) {
                this.detail.uom_display = this.options.uoms.find(row => row.id == item.uom_id).display;
                this.detail.unit_value = item.unit_value;
                this.detail.price = item.cogs;
            }
            
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.qty': function (newVal) {
            this.detail.subtotal = newVal * this.detail.price;
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.price': function (newVal) {
            this.detail.subtotal = newVal * this.detail.qty;
        }
    },

    computed: {
        total() {
            if ( ! this.model.details.length) {
                return 0;
            }

            return this.model.details.reduce((acc, row) => {
                return acc + row.subtotal;
            }, 0);
        }
    }
}
</script>