<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <span style="font-size:20px;"> Work Order</span>
            <p style="font-size:15px;"><i>Work order list</i></p>
        </div>
        <div class="box-header with-border">
            <router-link class="btn btn-success" :to="{ name: 'ManufactureWorkOrderCreate' }">
                <i class="fa fa-plus-circle"></i> New Work Order
            </router-link>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                    <thead>
                        <tr>
                            <th width="50px">No.</th>
                            <th>Code</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>PIC</th>
                            <th class="all" width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, index) in orders" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ row.code }}</td>
                            <td>{{ row.start_date }}</td>
                            <td>{{ row.due_date }}</td>
                            <td>{{ row.pic.name }}</td>
                            <td>
                                <div class="btn-group-vertical btn-group-sm">
                                    <button class="btn btn-success btn-sm" @click="detail(row.id)">
                                        <i class="fa fa-eye"></i> Detail
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            orders: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },


        /**
         * Fetch work order list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders`;

            axios.get(endpoint).then(res => {
                this.orders = res.data.collection;

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'ManufactureWorkOrderDetail', params: { id } });
        },

        /**
         * Goto edit page.
         * 
         * @author Vicky Hariadi.
         */
        edit(id) {
            this.$router.push({ name: 'LogisticItemEdit', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>