<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Create Mutations</span>
                    <p style="font-size:15px;"><i></i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <!-- <div class="form-group">
                                <label class="col-md-2 control-label">Requested For *</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="supplier_id">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.suppliers" :key="index" :value="row.id_supplier">
                                            {{ row.name }}
                                        </option>
                                    </select>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-md-2 control-label">Order Request *</label>
                                <div class="col-md-5">
                                    <p class="form-static-control">{{ model.purchase_order.code }}</p>
                                </div>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Warehouse Origin</label>
                                <div class="col-md-5">
                                    <p class="form-static-control">{{ model.warehouse_origin.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Warehouse Destination</label>
                                <div class="col-md-5">
                                    <p class="form-static-control">{{ model.warehouse_destination.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Sender</label>
                                <div class="col-md-5">
                                    <p class="form-static-control">{{ model.sender.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Remarks</label>
                                <div class="col-md-5">
                                    <p class="form-static-control">{{ model.remarks }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Details</label>
                                <div class="col-md-10">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="30px">No.</th>
                                                <th>Item</th>
                                                <th>Unit Value.</th>
                                                <th>Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="model.details.length">
                                            <tr v-for="(row, index) in model.details" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ row.item.name }}</td>
                                                <td>{{ row.item.uom.display }}</td>
                                                <td>{{ row.delivered_qty }}</td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="7">
                                                    No Details. Please fill details.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            
        </div>

        <!-- <div class="modal fade" id="detailModal" role="dialog" aria-labelledby="detailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="detailModalLabel">
                            {{ is_detail_editing ? 'Edit' : 'Add' }} Item
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="" class="col-md-4">Product</label>
                            <div class="col-md-8">
                                <select id="detail_item_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.items" :key="index" :value="row.id">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" v-if="detail.item_id">
                            <label for="" class="col-md-4">Unit Value</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{ detail.unit_value }} {{ detail.uom_display }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Price</label>
                            <div class="col-md-8">
                                <money class="form-control" v-model="detail.price" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Qty</label>
                            <div class="col-md-8">
                                <input type="number" min="1" class="form-control" v-model="detail.qty">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Sub Total</label>
                            <div class="col-md-8">
                                <p class="form-control-static">Rp. {{ currency(detail.subtotal) }}</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetDetail">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateDetail" v-if="is_detail_editing">Update Item</button>
                        <button type="button" class="btn btn-primary" @click="addDetail" v-else>Add Item</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                suppliers: [],
                items: [],
                banks: [],
                uoms: [],
                users: [],
                warehouses: [],
                purchases: [],
            },
            

            detail: {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            },

            id: '',

            model: {
                warehouse_destination_id: '',
                warehouse_origin: { name: '' },
                warehouse_destination: { name: '' },
                sender: { name: '' },
                purchase_order: { code: '' },
                warehouse_origin_id: '',
                purchase_order_id: '',
                sender_id: '',
                remarks: '',
                details: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.id = this.$route.params.id

        this.registerDatePicker();
        this.bootstrap();

        let vm = this
        $('#purchase_order_id').change(function () {
            vm.model.purchase_order_id = $(this).val();
        });
    },

    methods: {
        bootstrap() {
            // this.fetchSuppliers();
            // this.fetchWarehouses();
            // this.fetchItems();
            // this.fetchBanks();
            // this.fetchUoms();
            // this.fetchUsers()


            this.load()
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchSuppliers() {
            let endpoint = `${BASEURL}/api/v1/suppliers/options?type=internal`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.suppliers = res.data.options;

                this.options.suppliers.forEach(supplier => {
                    this.fetchOrders(supplier.id_supplier)
                })

                $('#supplier_id').change(function () {
                    vm.model.supplier_id = $(this).val();
                });
            });
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/logistics/warehouse_mutations/${this.id}`;

            axios.get(endpoint).then(res => {
                this.model = res.data.model                
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        loadPurchaseOrder(order_id) {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/${order_id}`;
        
            axios.get(endpoint).then(res => {

                $('#warehouse_destination_id').val(res.data.model.warehouse_id).change()
                this.model.details = res.data.model.details.filter(row => row.delivered_qty < row.qty).map(row => {
                    let detail = { ...row }

                    return {
                        qty: detail.qty,
                        received_qty: 0,
                        delivered_qty: detail.qty,
                        item_id: detail.item_id,
                        item_display: detail.item.name,
                        warehouse_id: '',
                        unit_value: detail.item.unit_value,
                        uom_display: detail.item.uom.display,
                        rack_id: '',
                        warehouse_display: '(Please choose)',
                        rack_display: '(Please choose)',
                        order_detail_id: detail.id
                    };
                });
            });
        },

        /**
         * Fetch user options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUsers() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.users = res.data.options;

                $('#sender_id').change(function () {
                    vm.model.sender_id = $(this).val();
                });
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_origin_id').change(function () {
                    if ($(this).val() == vm.model.warehouse_destination_id) {
                        swal({
                            title: 'Warning',
                            text: 'Warehouse already selected as destination',
                            icon: 'warning'
                        });
                        $(this).val('').change()
                        return false
                    }

                    vm.model.warehouse_origin_id = $(this).val();
                });
                
                $('#warehouse_destination_id').change(function () {
                    if ($(this).val() == vm.model.warehouse_origin_id) {
                        swal({
                            title: 'Warning',
                            text: 'Warehouse already selected as origin',
                            icon: 'warning'
                        });
                        $(this).val('').change()
                        return false
                    }

                    vm.model.warehouse_destination_id = $(this).val();
                });
            });
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchBanks() {
            let endpoint = `${BASEURL}/api/v1/banks/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.banks = res.data.options;

                $('#payment_method_id').change(function () {
                    vm.model.payment_method_id = $(this).val();
                });
            });
        },

        /**
         * Fetch unit of measurement options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUoms() {
            let endpoint = `${BASEURL}/api/v1/uoms/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.uoms = res.data.options;
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            $('#duedate').datepicker('setDate', '+1w');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#duedate').change(function () {
                let date = $(this).val();
                vm.model.duedate = date.split('/').reverse().join('-');
            });


            $('#duedate').change();
            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/warehouse_mutations`;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your mutation delivery has been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'LogisticWarehouseMutationIndex' });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store purchase order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Add item detail.
         * 
         * @author Vicky Hariadi.
         */
        addDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;
            
            this.model.details.push(detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;

            this.model.details.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
            
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            };


            $('#detail_item_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Delete begin stock.
         * 
         * @author Vicky Hariadi.
         */
        deleteDetail(index) {
            this.model.details.splice(index, 1);
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            this.detail = { ...this.model.details[index] }
            this.is_detail_editing = true;
            this.detail_edit_index = index;
            $('#detail_item_id').val(this.detail.item_id).change();

            $('#detailModal').modal('show');
            
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchOrders(supplier_id) {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/suppliers/${supplier_id}?isCreateMode=true`;
            // let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.purchases.push(...res.data.options);

                let order_id = this.$route.query.order_id;

                if (order_id) {
                    setTimeout(() => {
                        $("#purchase_order_id").val(order_id).change();       
                    }, 0);
                }
            });
        },
    },

    watch: {
        /**
         * Autofill item information as default.
         * 
         * @author Vicky Hariadi.
         */
        'detail.item_id': function (newVal) {
            let item = this.options.items.find(row => row.id == newVal);

            if (item) {
                this.detail.uom_display = this.options.uoms.find(row => row.id == item.uom_id).display;
                this.detail.unit_value = item.unit_value;
                this.detail.price = item.cogs;
            }
            
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.qty': function (newVal) {
            this.detail.subtotal = newVal * this.detail.price;
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.price': function (newVal) {
            this.detail.subtotal = newVal * this.detail.qty;
        }
    },

    computed: {
        total() {
            if ( ! this.model.details.length) {
                return 0;
            }

            return this.model.details.reduce((acc, row) => {
                return acc + row.subtotal;
            }, 0);
        }
    }
}
</script>
