<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Sales Order #{{ model.code }}</span>
                    <p style="font-size:15px;"><i>Show sales order summary and shipment information</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Buyer</a>
                                </span>
                                <span class="description">{{ model.receiver.name }} @{{ model.destination.city }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                        <li><a href="#shipment" data-toggle="tab">Shipment Detail</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Buyer</span>
                                                        <p style="font-size:15px;"><i>Basic information about buyer.</i></p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Full Name</label>
                                                            <p class="form-control-static">{{ model.receiver.name }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Email</label>
                                                            <p class="form-control-static">{{ model.receiver.email }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Phone</label>
                                                            <p class="form-control-static">
                                                                {{ model.receiver.phone }}
                                                                <a class="btn btn-link" target="_blank" :href="`https://api.whatsapp.com/send?phone=${model.receiver.phone}&text=halo ${model.receiver.name}`">
                                                                    <i class="fa fa-whatsapp"></i> Send Message
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Birthdate</label>
                                                            <p class="form-control-static">{{ model.receiver.birthdate }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Gender</label>
                                                            <p class="form-control-static">{{ model.receiver.gender }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Order Lines</span>
                                                        <p style="font-size:15px;"><i>Sales order details</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Status</label>
                                                            <p class="form-control-static">
                                                                {{ model.status }} <button class="btn btn-sm btn-link" @click="toggleState('status')">
                                                                    {{ editing.status ? 'OK' : 'change' }}
                                                                </button>
                                                            </p>
                                                            <select class="form-control" id="status" v-if="editing.status" v-model="model.status">
                                                                <option :value="row" v-for="(row, index) in options.status" :key="index">{{ row }}</option>
                                                            </select>
                                                            <span class="help-block" v-if="model.status == 'PENDING'">please make sure you have received payment before changing pending to other status</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Proof of Payment</label>
                                                            <div class="proof" v-if="model.file">
                                                                <img :src="shopAsset(`/payments/${model.file}`)" alt="">
                                                                <span class="help-block">(click to zoom)</span>
                                                            </div>
                                                            <p class="form-control-static" v-else>(empty)</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Products</label>
                                                            <div class="table-responsive">
                                                                <table class="table table-stripped" v-if="model.details">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>No</th>
                                                                            <th style="width: 190px">Product</th>
                                                                            <th>Price</th>
                                                                            <th>Qty</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="(row, index) in model.details" :key="index">
                                                                            <td>{{ index + 1 }}</td>
                                                                            <td style="width: 190px">{{ row.name }}</td>
                                                                            <td>Rp. {{ currency(row.price) }}</td>
                                                                            <td>{{ row.qty }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Sub Total</label>
                                                            <p class="form-control-static">Rp. {{ currency(model.total_order) }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Delivery Cost</label>
                                                            <p class="form-control-static">Rp. {{ currency(model.delivery_cost) }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Total</label>
                                                            <p class="form-control-static">Rp. {{ currency(model.grand_total) }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="shipment">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Shipment Summary</span>
                                                        <p style="font-size:15px;"><i>shipment origin and destination adresses.</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Courier & Service</label>
                                                            <p class="form-control-static">{{ model.courier.toUpperCase() }} - {{ model.courier_service }}</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Sender</label>
                                                            <p class="form-control-static">{{ model.sender.name }} / {{ model.sender.phone }}</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Sender Address (origin)</label>
                                                            <p class="form-control-static">
                                                                {{ model.origin.province }} <br>
                                                                {{ model.origin.type }} {{ model.origin.city }} <br>
                                                                {{ model.origin.subdistrict_name }}<br>
                                                                {{ model.sender.address }}
                                                            </p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Receiver</label>
                                                            <p class="form-control-static">{{ model.receiver.name }} / {{ model.receiver.phone }}</p>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Receiver Address (destination)</label>
                                                            <p class="form-control-static">
                                                                {{ model.destination.province }} <br>
                                                                {{ model.destination.type }} {{ model.destination.city }} <br>
                                                                {{ model.destination.subdistrict_name }}<br>
                                                                {{ model.receiver.address }}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Shipment Tracker</span>
                                                        <p style="font-size:15px;"><i>Track shipment progress (officialy from courier)</i>
                                                        </p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Waybill Number</label>
                                                            <p class="form-control-static">
                                                                {{ model.resi_no ? model.resi_no : '(not set)' }} <button class="btn btn-link" @click="toggleState('waybill')">
                                                                    {{ editing.waybill ? 'OK' : 'change' }}
                                                                </button>
                                                            </p>
                                                            <input type="text" class="form-control" v-model="model.resi_no" v-if="editing.waybill">
                                                            <span class="help-block" v-if="fetching.waybill">attempting to get information from courier...</span>
                                                        </div>

                                                        <template v-if="waybill.summary.waybill_number">
                                                            <div class="form-group">
                                                                <label for="">Summary</label>
                                                                <table class="table">
                                                                    <tr>
                                                                        <td>Courier Service</td>
                                                                        <td>{{ waybill.summary.courier_name }} {{ waybill.summary.service_code }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Send at</td>
                                                                        <td>{{ waybill.summary.waybill_date }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Shipper Name</td>
                                                                        <td>{{ waybill.summary.shipper_name }}</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </template>

                                                        <p v-if=" ! waybill.summary.waybill_number && model.resi_no && !fetching.waybill && !editing.waybill">Invalid waybill number</p>

                                                        <div class="form-group mt-3">
                                                            <label for="">Tracking Result</label>
                                                            <ol v-if="waybill.manifest.length">
                                                                <li v-for="(row, index) in waybill.manifest" :key="index">
                                                                    {{ row.manifest_date }} {{ row.manifest_time }}<br>
                                                                    {{ row.manifest_description }} [{{ row.city_name }}]<br>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer text-right">
                    <a class="btn btn-primary" href="#" @click.prevent="confirmUpdate">
                        <i class="fa fa-save"></i> Save Changes
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

        data() {
            return {
                id: '',

                options: {
                    status: ['PENDING', 'PROCESS', 'SENT', 'RECEIVED']
                },

                editing: {
                    status: false,
                    waybill: false
                },

                fetching: {
                    waybill: false,
                },

                waybill: {
                    delivery_status: {},
                    summary: {},
                    manifest: []
                },

                model: {
                    receiver: {},
                    destination: {},
                    sender: {},
                    origin: {},
                    details: [],
                    courier: ''
                },

            }
        },

        mounted() {
            $('select').select2({
                placeholder: 'Choose option',
                width: '100%'
            });

            this.id = this.$route.params.id;

            this.bootstrap();
        },

        methods: {
            bootstrap() {
                this.load();
            },

            asset(path) {
                return `/${path}`;
            },

            shopAsset(path) {
                return `${SHOPBASEURL}/storage${path}`;
            },

            toggleState(key) {
                this.editing[key] = ! this.editing[key];

                if (this.editing[key]) {
                    $('select').select2({
                        placeholder: 'Choose option',
                        width: '100%'
                    });
                }
            },

            /**
             * Local currency format.
             * 
             * @author Vicky Hariadi.
             */
            currency(number) {
                number = parseFloat(number);

                if ( ! number) {
                    return 0;
                }

                return number.toLocaleString('id-ID');
            },

            load() {
                let endpoint = `${BASEURL}/api/v1/malls/orders/${this.id}`;

                axios.get(endpoint).then(res => {
                    this.model = res.data.model;

                    if (this.model.resi_no) {
                        this.track();
                    }
                });
            },

            track() {
                let endpoint = `${BASEURL}/api/v1/shipments/track`;
                let model = {
                    waybill: this.model.resi_no,
                    courier: this.model.courier
                };

                this.fetching.waybill = true;

                axios.post(endpoint, model).then(res => {
                    this.fetching.waybill = false;
                    this.waybill = res.data;

                }).catch(e => {
                    this.fetching.waybill = false
                });
            },

            /**
             * Store confirmation.
             * 
             * @author Vicky Hariadi.
             */
            confirmUpdate() {
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is correct.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                        this.update();
                    }
                })
            },

            /**
             * update form.
             */
            update() {
                let endpoint = `${BASEURL}/api/v1/malls/orders/${this.id}`;
                let model = {
                    resi_no: this.model.resi_no,
                    status: this.model.status,
                    '_method': 'PUT'
                };

                axios.post(endpoint, model).then(res => {
                    swal({
                        title: 'Change Saved',
                        text: 'Your changes have been saved.',
                        icon: 'success'
                    });

                    this.$router.push({
                        name: 'MallOrderIndex'
                    });
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not publish product, please contact IT.',
                        icon: 'error'
                    });
                });
            },
        },

        watch: {
            'editing.waybill': function (state) {
                if (state == false && this.model.resi_no) {
                    this.track();
                }
            }
        }
    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .cropper-container {
        width: 100% !important;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .proof img {
        height: 160px;
        width: auto;
    }

    .upload-preview img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    }

    .img-thumbnail {
        width: 60px;
    }

    .table tr td {
        padding: 4px;
    }

    .slider img {
        width: 100%;
    }
</style>
