<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Inventory Adjustment Detail</span>
                    <p style="font-size:15px;"><i>Show adjustment date, adjuster, and reason in detail.</i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjustment Date </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.transdate }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjusted By </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.adjuster.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Item </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.item.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Warehouse Source </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{ model.warehouse.name }}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjustment Category </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.transdesc }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Reference </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.ref.purchase_order ? model.ref.purchase_order.code : '' }} {{ model.ref.transdesc }} {{ model.ref.transdate }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjustment </label>
                                <div class="col-md-5">
                                    <table class="table table-bordered" id="table-item">
                                        <tr>
                                            <td>Stock Before</td>
                                            <td>Adjustment</td>
                                            <td>Stock After</td>
                                        </tr>
                                        <tr>
                                            <td>{{ model.stock_before }}</td>
                                            <td>
                                                <b class="text-success" v-if="model.stock_adjustment_type == 'in'">+</b>
                                                <b class="text-danger" v-else>-</b>
                                                {{ model.stock_adjustment }}
                                            </td>
                                            <td>
                                                <i class="fa fa-caret-up text-success" v-if="model.stock_adjustment_type == 'in'"></i>
                                                <i class="fa fa-caret-down text-danger" v-else></i>
                                                {{ model.stock_after }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Reason </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.reason }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            id: '',
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                items: [],
                detail_racks: [],
                warehouses: [],
                users: [],
                types: [
                    { id: 1, type: 'in', value: 'ADJ RCV HUMAN ERROR ADD', text: 'Human Error (+)' },
                    { id: 2, type: 'out', value: 'ADJ RCV HUMAN ERROR SUB', text: 'Human Error (-)' },
                    { id: 3, type: 'out', value: 'ADJ BROKEN ITEM', text: 'Broken Item' },
                    { id: 4, type: 'out', value: 'ADJ LOST ITEM', text: 'Lost Item' },
                ],
                refs: []
            },

            model: {
                stock_adjustment_type: '',
                stock_before: 0,
                stock_after: 0,
                stock_adjustment: 1,
                reason: '',
                item_id: '',
                transdesc: '',
                transdate: '',
                warehouse_id: '',
                ref_id: '',
                adjusted_by: '',
                adjuster: {},
                ref: {},
                warehouse: {},
                item: {}
            }
        }
    },

    mounted() {
        this.id = this.$route.params.id;
        this.bootstrap();
    },

    methods: {
        bootstrap() {
           this.load()
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Load model.
         * 
         * @author Vicky Hariadi.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/logistics/mutations/adjustments/${this.id}`;

            axios.get(endpoint).then(res => {
                this.model = res.data.model;
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#item_id').change(function () {
                    vm.model.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * Fetch item detail.
         */
        fetchItemDetail() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/${this.model.item_id}/warehouses/${this.model.warehouse_id}`;

            axios.get(endpoint).then(res => {
                this.model.stock_before = parseInt(res.data.model.mutations_count);
                this.options.refs = res.data.model.mutations;
            });
        },

        calculateStockAfter(stock_adjustment) {
            if (this.model.stock_adjustment_type == 'in') {
                this.model.stock_after =  this.model.stock_before + stock_adjustment;
            } else {
                this.model.stock_after = this.model.stock_before - stock_adjustment;
            }
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/mutations/adjustments`;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your inventory adjustment has been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'LogisticItemDetail', params: { id: this.model.item_id } });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store inventory adjustment, please contact IT.',
                    icon: 'error'
                });
            });
        },
    }
}
</script>

<style scoped>
    #table-item {
        margin-top: 15px;
    }

    #table-item tr td {
        border: 1px solid #d2d6de;
        padding: 8px;
    }

    .mt-15 {
        margin-top: 15px;
    }
</style>