<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px; font-weight: bold;">STOCK CARD</span>
                    <p style="font-size:15px; font-weight: bold;"><i>Display printable stock card report.</i></p>
                </div>

                 <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Item *</label>
                            <div class="col-md-5">
                                <select id="item_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.items" :key="index" :value="row.id">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date From *</label>
                            <div class="col-md-5">
                                <input class="form-control date" id="date_from" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date To *</label>
                            <div class="col-md-5">
                                <input class="form-control date" id="date_to" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Warehouse *</label>
                            <div class="col-md-5">
                                <select id="warehouse_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.warehouses" :key="index" :value="row.id_warehouse">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-5 text-right">
                                <button class="btn btn-primary" :disabled="loading" @click="fetch">
                                    <div v-if="loading">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        Memproses...
                                    </div>
                                    <div v-else>
                                        Process
                                    </div>
                                </button>
                            </div>
                            
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-stripped" id="report">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Trans</th>
                                    <th>Customer</th>
                                    <th>Ref</th>
                                    <th>Stock In</th>
                                    <th>Stock Out</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody v-if="mutations.length">
                                <tr>
                                    <td colspan="8">As of {{ previous.date }}</td>
                                    <td>{{ previous.sum }}</td>
                                </tr>
                                <tr v-for="(row, index) in mutations" :key="index">
                                    <td> {{ index + 1 }} </td>
                                    <td>{{ row.item.name }}</td>
                                    <td>{{ row.transdate }}</td>
                                    <td>{{ row.transdesc }}</td>
                                    <td>
                                        <a v-if="row.usage" :href="`/customers/${row.usage.customer_id}`" target="_blank">
                                            {{ row.usage.customer.full_name }}
                                        </a>
                                        <span v-else>-</span>
                                    </td>
                                    <td>
                                        <span v-if="row.usage && row.usage.status_usage">{{ row.usage.usage_code }} (VOID)</span>
                                        <a v-if="row.usage && !row.usage.status_usage" :href="`/usage-treatment/${row.usage.id_usage}`">{{ row.usage.usage_code }}</a>
                                        <router-link v-if="row.purchase_order" :to="{ name: 'LogisticPurchaseOrderDetail', params: { id: row.purchase_order.id } }">{{ row.purchase_order.code }}</router-link>
                                        <router-link v-if="row.adjustment" :to="{ name: 'LogisticInventoryAdjustmentDetail', params: { id: row.adjustment.id } }">{{ row.adjustment.code }}</router-link>
                                        <router-link v-if="row.release" :to="{ name: 'ManufactureMaterialReleaseIndex', query: { material_release_id: row.release.id } }">{{ row.release.code }}</router-link>
                                        <span v-if="row.finished_product">{{ row.finished_product.code }}</span>
                                    </td>
                                    <td>
                                        <span class="text-success">{{ (row.qty > 0) ? row.qty : '' }}</span>
                                    </td>
                                    <td>
                                        <span class="text-danger">{{ (row.qty < 0) ? row.qty * -1 : '' }}</span>
                                    </td>
                                    <td>{{ row.currentStock }}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="8">As of {{ previous.date }}</td>
                                    <td>{{ previous.sum }}</td>
                                </tr>
                                <tr>
                                    <td colspan="8">No Transactions.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">Total</td>
                                    <td><span class="text-success">{{ sumIn }}</span></td>
                                    <td><span class="text-danger">{{ sumOut * -1 }}</span></td>
                                    <td>{{ currentStock }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            filter: {
                item_id: '',
                date_from: '',
                date_to: '',
                warehouse_id: ''
            },

            options: {
                items: [],
                warehouses: []
            },

            mutations: [],
            previous: {
                date: '',
                sum: 0
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.registerDatePicker();
            this.fetchItems();
            this.fetchWarehouses();
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#item_id').change(function () {
                    vm.filter.item_id = $(this).val();
                });
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_id').change(function () {
                    vm.filter.warehouse_id = $(this).val()
                });
            });
        },

        /**
         * Fetch filtered data.
         */
        fetch() {
            this.loading = true
            let query = new URLSearchParams(this.filter).toString();

            let endpoint = `${BASEURL}/api/v1/logistics/mutations/logs?${query}`;

            axios.get(endpoint).then(res => {
                this.previous = res.data.previous;

                let lastStock = parseInt(this.previous.sum);
                this.mutations = res.data.mutations.map(row => {
                    row.currentStock = lastStock + parseInt(row.qty);

                    lastStock += parseInt(row.qty);

                    return row;
                });
                this.loading = false
            });
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#date_from').datepicker('setDate', 'today');
            $('#date_to').datepicker('setDate', '+1m');
            
            let vm = this;

            $('#date_from').change(function () {
                let date = $(this).val();
                vm.filter.date_from = date.split('/').reverse().join('-');
            });

            $('#date_to').change(function () {
                let date = $(this).val();
                vm.filter.date_to = date.split('/').reverse().join('-');
            });

            $('#date_from').change();
            $('#date_to').change();
        },
    },

    computed: {
        sumIn() {
            return this.mutations.reduce((acc, row) => {
                if (row.transtype == 'in') {
                    return acc + row.qty;
                }

                return acc;
            }, 0);
        },

        
        sumOut() {
            return this.mutations.reduce((acc, row) => {
                if (row.transtype == 'out') {
                    return acc + row.qty;
                }

                return acc;
            }, 0);
        },

        currentStock() {
            let total = this.mutations.reduce((acc, row) => {
                return acc + parseInt(row.qty);
            }, 0);

            return total + parseInt(this.previous.sum);
        }
    }
}
</script>
<style scoped>
    #report {
        margin-top: 2rem;
    }
</style>