<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px; font-weight: bold;">STOCK OPNAME</span>
                    <p style="font-size:15px; font-weight: bold;"><i>Inventory checklist.</i></p>
                </div>

                 <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date *</label>
                            <div class="col-md-5">
                                <input class="form-control date" id="date" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Warehouse *</label>
                            <div class="col-md-5">
                                <select id="warehouse_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.warehouses" :key="index" :value="row.id_warehouse">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Item(s)</label>
                            <div class="col-md-5" v-show=" ! filter.all_item">
                                <select id="item_id" multiple class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.items" :key="index" :value="row.id">{{ row.name }}</option>
                                </select>
                            </div>
                             <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="filter.all_item">
                                        All Items
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-5 text-right">
                                <button class="btn btn-primary" @click="fetch">{{ is_processing ? 'Processing...' : 'Process' }}</button>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-success" type="button" value="Export To Pdf" 
                    id="btPrint" @click="createPDF()" />
                    <div id="tab">

                    
                    <table class="table table-stripped" id="report">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Unit value</th>
                                <th>Actual Stock</th>
                                <th>Last Verified at</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody v-if="takings.length">
                            <tr v-for="(row, index) in takings" :key="index">
                                <td>{{ index + 1 }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.brand }}</td>
                                <td>{{ row.unit_value }} {{ row.uom.alias }}</td>
                                <td>{{ row.mutations_count === null ? 0 : row.mutations_count }}</td>
                                <td>{{ row.verified_at ? row.verified_at : '(no data)' }}</td>
                                <td>
                                    <div v-if="row.lock_verified">
                                        <i class="fa fa-check text-success"></i> Clear
                                    </div>
                                    <div class="checkbox" v-else>
                                        <label>
                                            <input type="checkbox" v-model="row.verified">
                                            Clear
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="5">No Transactions.</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="form-horizontal mt-5">
                        <div class="form-group">
                            <label for="" class="col-md-8 control-label">Remarks</label>
                            <div class="col-md-4">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">&nbsp;</div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-primary" @click="confirmStore">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            is_processing: false,
            filter: {
                date: '',
                warehouse_id: '',
                item_id: '',
                all_item: true
            },

            options: {
                items: [],
                warehouses: []
            },

            table: null,

            takings: []
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.registerDatePicker();
            this.fetchItems();
            this.fetchWarehouses();
            this.initTable();
        },

        initTable() {
            var formatDatenow = new Date();
            var result = formatDatenow.toLocaleDateString();

            this.table = $("#report").DataTable({
                columnDefs: [{ className: "wrapno", targets: 1 }],
                language: {
                    emptyTable: "No Transactions.",
                },
                scrollX: true,
                dom: "Bfrtip",
                buttons: [
                    {
                        extend: "excelHtml5",
                        title: "Stock-Opname-" + result,
                        text: "Export to Excel",
                    },
                ],
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_id').change(function () {
                    vm.filter.warehouse_id = $(this).val()
                });
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#item_id').change(function () {
                    vm.filter.item_id = $(this).val();
                });
            });
        },

        /**
         * Fetch filtered data.
         */
        fetch() {
            let query = new URLSearchParams(this.filter).toString();

            let endpoint = `${BASEURL}/api/v1/logistics/items/takings?${query}`;

            this.is_processing = true;
            axios.get(endpoint).then(res => {
                this.takings = res.data.takings.map(row => {
                    row.verified = false;
                    row.verified_at = this.localDate(row.verified_at)
                    return row;
                });

                this.is_processing = false;
            });
        },
        
        createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    },

        /**
             * Store confirmation.
             * 
             * @author Vicky Hariadi.
             */
            confirmStore() {
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is correct.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                        this.store();
                    }
                })
            },
            
            /**
             * store form.
             */
            store() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/takings`;

                let takings = this.takings.filter(row => row.verified).map(row => row.id);

                let model = {
                    takings,
                    ...this.filter
                };

                let vm = this;

                axios.post(endpoint, model).then(res => {
                    swal({
                        title: 'Stored',
                        text: 'Your inventory taking has been stored to database.',
                        icon: 'success'
                    });

                    vm.fetch();
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not store data, please contact IT.',
                        icon: 'error'
                    });
                });
            },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#date').datepicker('setDate', 'today');
            
            let vm = this;

            $('#date').change(function () {
                let date = $(this).val();
                vm.filter.date = date.split('/').reverse().join('-');
            });

            $('#date').change();
        },
    }
}
</script>
<style scoped>
    #report {
        margin-top: 2rem;
    }
    .mt-5 {
        margin-top: 2rem;
    }
    .wrapno {
    white-space: nowrap;
    }
</style>