<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Detail Item</span>
                    <p style="font-size:15px;"><i>Show item overview, bill of material, and mutations.</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Purchasing Item Name</a>
                                </span>
                                <span class="description">{{ model.name }}</span>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-12 text-right">
                            <!-- <a class="btn btn-social btn-success" href="#" @click.prevent="confirmStore"><i class="fa fa-save"></i> Save</a> -->
                            <!-- <a class="btn btn-social btn-info" href="#"><i class="fa fa-credit-card"></i>Create
                                Invoice</a>
                            <button class="btn btn-social btn-warning"><i
                                    class="fa fa-credit-card"></i>Anamnesa</button>
                            <button class="btn btn-social btn-primary"><i class="fa fa-eye"></i>Physical
                                Examination</button>
                            <button class="btn btn-social btn-danger"><i class="fa fa-credit-card"></i>Consignment
                                Form</button> -->
                        </div>
                    </div>
                    <!-- <hr>
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('img/start.png')">
                                <span class="username">
                                    <a href="#">No Membership</a>

                                    <i class="fa fa-star text-yellow"></i>
                                    <span class="pull-right text-red">
                                        <i class="fa fa-btc" aria-hidden="true"></i>
                                        <strong>1</strong> Point
                                    </span>
                                </span>

                                <span class="description">No Membership</span>

                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <div class="col-md-7">
                                <div class="user-block pull-right text-right">
                                    <span class="username text-red">
                                        Medical Alert
                                        <hr style="margin:5px">
                                    </span>
                                    <span class="description">
                                        <strong>MS Glow</strong>
                                        <i class="fa fa-exclamation-circle text-yellow" aria-hidden="true"></i><br>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <img class="pull-right img-circle img-bordered-sm" :src="asset('/img/medical.ico')"
                                    width="100px" alt="user image">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#information" data-toggle="tab">Sales & Purchase Information</a></li>
                    <li>
                        <a href="#boms" data-toggle="tab">
                            <span v-if="model.type == 'product'">Bill of Materials</span>
                            <span v-else>Treatment Ingridient</span>
                        </a>
                    </li>
                    <li v-if="model.type == 'product'"><a href="#stocks" data-toggle="tab">Begin Stock</a></li>
                    <li v-if="model.type == 'product'"><a href="#incoming" data-toggle="tab">Incoming Stock</a></li>
                    <li v-if="model.type == 'product'"><a href="#outcoming" data-toggle="tab">Outcoming Stock</a></li>
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane active" id="information">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="box box-solid">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box-header with-border">
                                                    <span style="font-size:20px;">Purchase Information</span>
                                                    <p style="font-size:15px;"><i>For purchase information to
                                                            supplier.</i></p>
                                                </div>

                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="">Item Name</label>
                                                        <p class="form-control-static">{{ model.name }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Item Type</label>
                                                        <p class="form-control-static">{{ model.type == 'product' ? 'Product' : 'Treatment' }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Brand</label>
                                                        <p class="form-control-static">{{ model.brand }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Price</label>
                                                        <p class="form-control-static">{{ currency(model.cogs) }}</p>
                                                    </div>
                                                         <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Buffer Stock</label>
                                                        <p class="form-control-static">{{ model.buffer_stock }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Unit of Measurement</label>
                                                        <p class="form-control-static">{{ model.uom.display }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Unit value</label>
                                                        <p class="form-control-static">{{ model.unit_value }} {{ model.uom.alias }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-md-offset-2">
                                                <div class="box-header with-border">
                                                    <span style="font-size:20px;">Sales Information</span>
                                                    <p style="font-size:15px;"><i>For sales invoice to customer.</i></p>
                                                </div>

                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="">Status</label>
                                                        <p class="form-control-static">
                                                            <span v-if="model.sales.status_product_treatment">
                                                                <i class="fa fa-check text-success"></i> Item is Sellable
                                                            </span>
                                                            <span v-else>
                                                                <i class="fa fa-times text-danger"></i> Item is Not Sellable
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label
                                                            for="">{{ model.type == 'product' ? 'Product' : 'Treatment' }}
                                                            Name</label>
                                                        <p class="form-control-static">{{ model.sales.product_treatment_name }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Price</label>
                                                        <p class="form-control-static">{{ currency(model.sales.price) }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Outlets</label>
                                                        <p class="form-control-static">
                                                            {{ model.sales.outlets.map(row => row.outlet.outlet_name).join(',') }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'product'">
                                                        <label for="">Dispense Method</label>
                                                        <p class="form-control-static">{{ model.dispense_method }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'service'">
                                                        <label for="">Duration</label>
                                                        <p class="form-control-static">{{ model.sales.duration }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'service'">
                                                        <label for="">Commission Type</label>
                                                        <p class="form-control-static">{{ model.sales.commtype == '0' ? 'percent' : 'nominal' }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'service'">
                                                        <label for="">Commission Doctor</label>
                                                        <p class="form-control-static">{{ model.sales.commtype == '0' ? model.sales.commissionDr : currency(model.sales.commissionDr) }} {{ model.sales.commtype == '0' ? '%' : '' }}</p>
                                                    </div>
                                                    <div class="form-group" v-if="model.type == 'service'">
                                                        <label for="">Commission Therapist</label>
                                                        <p class="form-control-static">{{ model.sales.commtype == '0' ? model.sales.commissionTr : currency(model.sales.commissionTr) }} {{ model.sales.commtype == '0' ? '%' : '' }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Points</label>
                                                    </div>
                                                    <table class="table table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>Point</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-if="model.sales.points.length > 0">
                                                            <tr v-for="(row, index) in model.sales.points" :key="index">
                                                                <td>{{ index + 1 }}</td>
                                                                <td>{{ row.point }}</td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                            <tr>
                                                                <td colspan="3">
                                                                    No points.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="boms">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <span
                                    style="font-size:20px;">{{ model.type == 'product' ? 'Bill of Materials' : 'Treatment Ingridients' }}</span>
                                <p style="font-size:15px;"><i>Material that used to make this item ready to use.</i></p>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Item</th>
                                            <th>Qty</th>
                                            <th>Unit value</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="model.boms.length">
                                        <tr v-for="(row, index) in model.boms" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ row.raw_item.name }}</td>
                                            <td>{{ row.qty }}</td>
                                            <td>{{ row.unit_value }} {{ row.raw_item.uom.alias }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="6">
                                                No {{ model.type == 'product' ? 'Bill of Materials' : 'Treatment Ingridients' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="stocks">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <span style="font-size:20px;">Begin Stock</span>
                                <p style="font-size:15px;"><i>Beginning stock logs for this item.</i></p>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Warehouse Destination</th>
                                            <th>Rack Destination</th>
                                            <th>Stock In</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="model.begin_stocks.length">
                                        <tr v-for="(row, index) in model.begin_stocks" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ row.transdate }}</td>
                                            <td>{{ row.warehouse_destination.name }}</td>
                                            <td>{{ row.rack_destination === null ? '' : row.rack_destination.main_rack_code }} - {{ row.rack_destination === null ? '' : row.rack_destination.sub_rack_code  }}</td>
                                            <td><i class="fa fa-arrow-left text-success"></i> {{ row.qty }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="6">
                                                No Begin Stock.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="incoming">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <span style="font-size:20px;">Incoming Stock</span>
                                <p style="font-size:15px;"><i>Incoming stock logs for this item.</i></p>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Date</th>
                                                <th>Trans</th>
                                                <th>Reference Code</th>
                                                <th>Warehouse Destination</th>
                                                <th>Rack Destination</th>
                                                <th>Stock In</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="model.incoming_stocks.length">
                                            <tr v-for="(row, index) in model.incoming_stocks" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ row.transdate }}</td>
                                                <td>{{ row.transdesc }}</td>
                                                <td>
                                                    <router-link v-if="row.adjustment" :to="{ name: 'LogisticInventoryAdjustmentDetail', params: { id: row.adjustment.id } }">{{ row.adjustment.code }}</router-link>
                                                    <router-link v-if="row.purchase_order" :to="{ name: 'LogisticPurchaseOrderDetail', params: { id: row.purchase_order.id } }">{{ row.purchase_order.code }}</router-link>
                                                    <span v-if="row.finished_product">{{ row.finished_product.code }}</span>
                                                </td>
                                                <td>{{ row.warehouse_destination.name }}</td>
                                                <td>{{ row.rack_destination === null ? '' : row.rack_destination.main_rack_code}} - {{ row.rack_destination === null ? '' : row.rack_destination.sub_rack_code}}</td>
                                                <td><i class="fa fa-arrow-left text-success"></i> {{ row.qty }}</td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No Incoming Stock.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="outcoming">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <span style="font-size:20px;">Outcoming Stock</span>
                                <p style="font-size:15px;"><i>Outcoming stock logs for this item.</i></p>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Date</th>
                                                <th>Trans</th>
                                                <th>Reference Code</th>
                                                <th>Warehouse Source</th>
                                                <th>Rack Source</th>
                                                <th>Stock Out</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="model.outcoming_stocks.length">
                                            <tr v-for="(row, index) in model.outcoming_stocks" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ row.transdate }}</td>
                                                <td>{{ row.transdesc }}</td>
                                                <td>
                                                    <router-link v-if="row.adjustment" :to="{ name: 'LogisticInventoryAdjustmentDetail', params: { id: row.adjustment.id } }">{{ row.adjustment.code }}</router-link>
                                                    <router-link v-if="row.release" :to="{ name: 'ManufactureMaterialReleaseIndex', query: { material_release_id: row.release.id } }">{{ row.release.code }}</router-link>
                                                    <a v-if="row.usage" :href="`/usage-treatment/${row.usage.id_usage}`">{{ row.usage.usage_code }}</a>
                                                </td>
                                                <td>{{ row.warehouse_origin ? row.warehouse_origin.name : '-'  }}</td>
                                                <td>{{ row.rack_origin ? row.rack_origin.main_rack_code : '' }} - {{ row.rack_origin ? row.rack_origin.sub_rack_code : ''}}</td>
                                                <td><i class="fa fa-arrow-right text-danger"></i> {{ row.qty * -1 }}</td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No Outcoming Stock.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id: null,
                point: 0,
                is_bom_editing: false,
                bom_edit_index: null,

                is_stock_editing: false,
                stock_edit_index: null,

                is_fetching_rack: false,

                options: {
                    warehouses: [],
                    items: [],
                    outlets: [],
                    racks: [],
                    uoms: [],
                    dispenses: [{
                            val: 'fifo',
                            text: 'First In - First Out'
                        },
                        {
                            val: 'lifo',
                            text: 'Last In - First Out'
                        }
                    ]
                },

                bom: {
                    raw_item_id: '',
                    qty: 0,
                    unit_value: 0,
                    uom_id: '',
                },

                stock: {
                    warehouse_destination_id: '',
                    qty: 0,
                    rack_destination_id: '',
                    transdate: '',
                    sellable_stock: 0
                },

                model: {
                    category_id: '',
                    uom_id: '',
                    name: '',
                    brand: '',
                    unit_value: '',
                    type: 'product',
                    cogs: 0,
                    dispense_method: '',
                    sales: {
                        name: '',
                        price: '',
                        commissionDr: 0,
                        commissionTr: 0,
                        comm_type: 0,
                        outlets: [],
                        points: [],
                        duration: 0,
                    },
                    uom: {
                        alias: '',
                        display: ''
                    },
                    boms: [],
                    begin_stocks: [],
                    incoming_stocks: [],
                    outcoming_stocks: [],
                },

                formatter: {
                    commission: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: ' %',
                        masked: false
                    },

                    unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },

                    bom_unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    }
                }

            }
        },

        mounted() {
            this.id = this.$route.params.id;
            this.bootstrap();
        },

        methods: {
            bootstrap() {
                this.load();
            },

            asset(path) {
                return `/${path}`;
            },

             /**
             * Local currency format.
             * 
             * @author Vicky Hariadi.
             */
            currency(number) {
                if ( ! number) {
                    return 0;
                }

                return number.toLocaleString('id-ID');
            },

            /**
             * Load item.
             */
            load() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/${this.id}`;

                axios.get(endpoint).then(res => {
                    this.model = res.data.model;

                    let outcomingStockCategories = ['USAGE', 'ADJ RCV HUMAN ERROR SUB', 'ADJ BROKEN ITEM', 'ADJ LOST ITEM', 'MATERIAL RELEASE'];
                    let incomingStockCategories = ['RECEIVE', 'ADJ RCV HUMAN ERROR ADD', 'ADJ VOID USAGE', 'FINISHED PRODUCT', 'MATERIAL RELEASE RETURN'];

                    this.model.begin_stocks = res.data.model.mutations.filter(row => row.transdesc == 'BEGIN');
                    this.model.incoming_stocks = res.data.model.mutations.filter(row => incomingStockCategories.indexOf(row.transdesc) > -1);
                    this.model.outcoming_stocks = res.data.model.mutations.filter(row => outcomingStockCategories.indexOf(row.transdesc) > -1);
                });
            }

        }
    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

</style>
