<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Edit Item</span>
                    <p style="font-size:15px;"><i>Change current item detail.</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Purchasing Item Name</a>
                                </span>
                                <span class="description">{{ model.name }}</span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#information" data-toggle="tab">Sales & Purchase Information</a></li>
                        <li>
                            <a href="#boms" data-toggle="tab">
                                <span v-if="model.type == 'product'">Bill of Materials</span>
                                <span v-else>Treatment Ingridient</span>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="tab-content">
                        <div class="tab-pane active" id="information">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Purchase Information</span>
                                                        <p style="font-size:15px;"><i>For purchase information to
                                                                supplier.</i></p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="">Item Name</label>
                                                            <input type="text" class="form-control" v-model="model.name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Item Type</label>
                                                            <div class="radio">
                                                                <label>
                                                                    <input required type="radio" v-model="model.type" name="type"
                                                                        id="type1" value="product">
                                                                    Product
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input required type="radio" v-model="model.type" name="type"
                                                                        id="type2" value="service">
                                                                    Treatment
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'product'">
                                                            <label for="">Brand</label>
                                                            <input type="text" required class="form-control" v-model="model.brand">
                                                        </div>
														<div class="form-group" v-if="model.type == 'product'">
                                                            <label for="">SKU</label>
                                                            <input type="text" required class="form-control" v-model="model.sku">
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'product'">
                                                            <label for="">Price</label>
                                                            <money required v-model="model.cogs" class="form-control"></money>
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'product'">
                                                            <label for="">Buffer Stock</label>
                                                            <input type="number" min="0" class="form-control" v-model="model.buffer_stock">
                                                        </div>
                                                        <div class="form-group" v-show="model.type == 'product'">
                                                            <label for="">Unit of Measurement</label>
                                                            <select class="form-control" id="uom_id">
                                                                <option value="" disabled selected>Choose option</option>
                                                                <option v-for="(row, index) in options.uoms" :value="row.id"
                                                                    :key="index">{{ row.display }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" v-show="model.type == 'product'">
                                                            <label for="">Unit value</label>
                                                            <money v-model="model.unit_value" v-bind="formatter.unit_value"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-2">
                                                    <div class="box-header with-border">
                                                        <span style="font-size:20px;">Sales Information</span>
                                                        <p style="font-size:15px;"><i>For sales invoice to customer.</i></p>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" v-model="model.sales.status_product_treatment">
                                                                    Mark as Sellable Item
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{ model.type == 'product' ? 'Product' : 'Treatment' }}
                                                                Name</label>
                                                            <input type="text" class="form-control"
                                                                v-model="model.sales.name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Price</label>
                                                            <money v-model="model.sales.price" class="form-control"></money>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Outlets</label>
                                                            <select class="form-control" multiple id="sales_outlets">
                                                                <option v-for="(row, index) in options.outlets"
                                                                    :value="row.id_outlet" :key="index">
                                                                    {{ row.outlet_name }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" v-show="model.type == 'product'">
                                                            <label for="">Dispense Method</label>
                                                            <select class="form-control" id="dispense_method">
                                                                <option v-for="(row, index) in options.dispenses"
                                                                    :value="row.val" :key="index">{{ row.text }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'treatment'">
                                                            <label for="">Duration</label>
                                                            <input type="number" class="form-control" v-model="model.sales.duration">
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'treatment'">
                                                            <label for="">Commission Type</label>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" v-model="model.sales.comm_type"
                                                                        name="comm_type" id="comm_type1" value="percent">
                                                                    Percent
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" v-model="model.sales.comm_type"
                                                                        name="comm_type" id="comm_type2" value="nominal">
                                                                    Nominal
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'treatment'">
                                                            <label for="">Commission Doctor</label>
                                                            <money v-model="model.sales.commission_dr" class="form-control"
                                                                v-bind="formatter.commission" />
                                                        </div>
                                                        <div class="form-group" v-if="model.type == 'treatment'">
                                                            <label for="">Commission Therapist</label>
                                                            <money v-model="model.sales.commission_tr" class="form-control" v-bind="formatter.commission" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Points</label>
                                                            <div class="input-group">
                                                                <input type="number" v-model="point" min="0" class="form-control" placeholder="E.g. 25">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default" type="button" @click="addPoint">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <table class="table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>No.</th>
                                                                    <th>Point</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody v-if="model.sales.points.length > 0">
                                                                <tr v-for="(row, index) in model.sales.points" :key="index">
                                                                    <td>{{ index + 1 }}</td>
                                                                    <td>{{ row.point }}</td>
                                                                    <td>
                                                                        <button class="btn btn-light" @click="deletePoint(index)">
                                                                            <i class="fa fa-trash text-danger"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody v-else>
                                                                <tr>
                                                                    <td colspan="3">
                                                                        No points.
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="boms">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <span
                                        style="font-size:20px;">{{ model.type == 'product' ? 'Bill of Materials' : 'Treatment Ingridients' }}</span>
                                    <p style="font-size:15px;"><i>Material that used to make this item ready to use.</i></p>
                                </div>
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Item</th>
                                                <th>Qty</th>
                                                <th>Unit value</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="model.boms.length">
                                            <tr v-for="(row, index) in model.boms" :key="index" @click="editBom(index)">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ row.item_display }}</td>
                                                <td>{{ row.qty }}</td>
                                                <td>{{ row.unit_value }} {{ row.uom_display }}</td>
                                                <td>
                                                    <button @click.stop="deleteBom(index)" class="btn btn-light">
                                                        <i class="fa fa-trash text-danger"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No {{ model.type == 'product' ? 'Bill of Materials' : 'Treatment Ingridients' }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <a class="btn btn-link" data-toggle="modal" data-target="#bomModal">
                                                        {{ model.type == 'product' ? 'Add raw material' : 'Add used product' }}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- /.tab-content -->

                </div>

                <div class="box-footer text-right">
                    <a class="btn btn-primary" href="#" @click.prevent="confirmStore">
                        <div v-if="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            <span>Memproses...</span>
                        </div>
                        <div v-else>
                            <i class="fa fa-save"></i>
                            <span>Update</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <!-- nav-tabs-custom -->
        <!-- Modal -->
        <div class="modal fade" id="bomModal" role="dialog" aria-labelledby="bomModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="bomModalLabel">
                            {{ is_bom_editing ? 'Edit' : 'Add' }} {{ model.type == 'product' ? 'Raw Material' : 'Used Product' }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="" class="col-md-4">Item</label>
                            <div class="col-md-8">
                                <select id="bom_raw_item_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.items" :key="index" :value="row.id">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Qty</label>
                            <div class="col-md-8">
                                <input type="number" min="0" v-model="bom.qty" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Unit of Measurement</label>
                            <div class="col-md-8">
                                <select id="bom_uom_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.uoms" :key="index" :value="row.id">{{ row.display }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-md-4">Unit value</label>
                            <div class="col-md-8">
                                <money class="form-control" v-model="bom.unit_value" v-bind="formatter.bom_unit_value" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetBom">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateBom" v-if="is_bom_editing">
                            <div v-if="loading_bill">
                                <i class="fa fa-spinner fa-spin"></i>
                                Memproses...
                            </div>
                            <div v-else>
                                Update {{ model.type == 'product' ? 'Material' : 'Product' }}
                            </div>
                        </button>
                        <button type="button" class="btn btn-primary" @click="addBom" v-else>
                            <div v-if="loading_bill">
                                <i class="fa fa-spinner fa-spin"></i>
                                Memproses...
                            </div>
                            <div v-else>
                                Add
                                {{ model.type == 'product' ? 'Material' : 'Product' }}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                loading_bill: false,
                id: '',
                point: 0,
                is_bom_editing: false,
                bom_edit_index: null,

                is_stock_editing: false,
                stock_edit_index: null,

                is_fetching_rack: false,

                options: {
                    warehouses: [],
                    items: [],
                    outlets: [],
                    racks: [],
                    uoms: [],
                    dispenses: [{
                            val: 'fifo',
                            text: 'First In - First Out'
                        },
                        {
                            val: 'lifo',
                            text: 'Last In - First Out'
                        }
                    ]
                },

                bom: {
                    raw_item_id: '',
                    qty: 0,
                    unit_value: 0,
                    uom_id: '',
                },

                stock: {
                    warehouse_destination_id: '',
                    qty: 0,
                    rack_destination_id: '',
                    transdate: '',
                    sellable_stock: 0
                },

                model: {
                    category_id: '',
                    uom_id: '',
                    name: '',
                    brand: '',
					sku: '',
                    unit_value: '',
                    type: 'product',
                    cogs: 0,
                    dispense_method: '',
                    sales: {
                        name: '',
                        price: '',
                        commission_dr: 0,
                        commission_tr: 0,
                        comm_type: 'percent',
                        outlets: [],
                        points: [],
                        status_product_treatment: true,
                        duration: 0,
                    },
                    boms: [],
                    stocks: []
                },

                formatter: {
                    commission: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: ' %',
                        masked: false
                    },

                    unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },

                    bom_unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    }
                }

            }
        },

        mounted() {
            $('select').select2({
                placeholder: 'Choose option',
                width: '100%'
            });

            this.id = this.$route.params.id;

            this.registerDatePicker();

            this.bootstrap();
        },

        methods: {
            async bootstrap() {
                await Promise.all([
                    this.fetchOutlets(),
                    this.fetchWarehouses(),
                    this.fetchUoms(),
                    this.fetchItems(),
                ]);

                this.registerDispenseMethodListener();
                this.load();
            },

            asset(path) {
                return `/${path}`;
            },

            /**
             * Store confirmation.
             * 
             * @author Vicky Hariadi.
             */
            confirmStore() {
                this.loading = true
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is correct.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                        this.store();
                    }
                })
            },

            /**
             * Load item.
             */
            load() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/${this.id}`;

                axios.get(endpoint).then(res => {
                    this.model = res.data.model;
                    this.model.boms.forEach(row => {
                        row.item_display = row.raw_item.name;
                        row.uom_display = row.raw_item.uom.alias;
                    });

                    let outlets = this.model.sales.outlets.map(row => row.outlet_id);
                    $('#sales_outlets').val(outlets).change();
                    $('#uom_id').val(this.model.uom_id).change();
                });
            },
            
            /**
             * store form.
             */
            store() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/${this.id}`;
                this.model._method = 'PUT';

                axios.post(endpoint, this.model).then(res => {
                    swal({
                        title: 'Update',
                        text: 'Your changes has been update to database.',
                        icon: 'success'
                    });

                    this.$router.push({ name: 'LogisticItemIndex' });
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not store data, please contact IT.',
                        icon: 'error'
                    });
                });
            },

            /**
             * Register date picker event listeners.
             * 
             * @author Vicky Hariadi.
             */
            registerDatePicker() {
                $('.date').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });

                $('#stock_transdate').datepicker('setDate', 'today');
                
                let vm = this;

                $('#stock_transdate').change(function () {
                    let date = $(this).val();
                    vm.stock.transdate = date.split('/').reverse().join('-');
                });

                $('#stock_transdate').change();
            },

            /**
             * Register dispense method event listeners.
             * 
             * @author Vicky Hariadi.
             */
            registerDispenseMethodListener() {
                let vm = this;

                $('#dispense_method').change(function () {
                    vm.model.dispense_method = $(this).val();
                    
                });

                $('#dispense_method').change();
            },

            /**
             * Fetch outlet options.
             * 
             * @author Vicky Hariadi.
             */
            fetchOutlets() {
                let endpoint = `${BASEURL}/api/v1/outlets/options`;
                let vm = this;
                return axios.get(endpoint).then(res => {
                    this.options.outlets = res.data.options;

                    $('#sales_outlets').change(function () {
                        vm.model.sales.outlets = $(this).val()
                    });
                });
            },

            /**
             * Fetch item options.
             * 
             * @author Vicky Hariadi.
             */
            fetchItems() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
                let vm = this;
            
                return axios.get(endpoint).then(res => {
                    this.options.items = res.data.options;

                    $('#bom_raw_item_id').change(function () {
                        vm.bom.raw_item_id = $(this).val();

                        let item = vm.options.items.find(row => row.id == $(this).val());

                        if (item) {
                            
                            $('#bom_uom_id').val(item.uom_id).change();
                            vm.bom.unit_value = item.unit_value;
                        }
                    });
                });
            },

            /**
             * Fetch warehouse options.
             * 
             * @author Vicky Hariadi.
             */
            fetchWarehouses() {
                let endpoint = `${BASEURL}/api/v1/warehouses/options`;
                let vm = this;
                return axios.get(endpoint).then(res => {
                    this.options.warehouses = res.data.options;

                    $('#stock_warehouse_destination_id').change(function () {
                        vm.stock.warehouse_destination_id = $(this).val();
                    })
                });
            },

            /**
             * Fetch rack options by warehouse.
             * 
             * @author Vicky Hariadi.
             */
            fetchRacks(warehouse_id) {
                if (warehouse_id == '') {
                    return false;
                }

                let endpoint = `${BASEURL}/api/v1/racks/options/${warehouse_id}`;
                let vm = this;
                this.is_fetching_rack = true;

                axios.get(endpoint).then(res => {
                    this.options.racks = res.data.options;
                    this.is_fetching_rack = false;


                    $('#stock_rack_destination_id').change(function () {
                        vm.stock.rack_destination_id = $(this).val();
                    });
                });
            },

            /**
             * Fetch unit of measurement options.
             * 
             * @author Vicky Hariadi.
             */
            fetchUoms() {
                let endpoint = `${BASEURL}/api/v1/uoms/options`;
                let vm = this;

                return axios.get(endpoint).then(res => {
                    this.options.uoms = res.data.options;

                    $('#uom_id').change(function () {
                        vm.model.uom_id = $(this).val();
                    });

                    $('#bom_uom_id').change(function () {
                        
                        vm.bom.uom_id = $(this).val();
                    });
                });
            },

            addPoint() {
                this.model.sales.points.push({ point: this.point });
                this.point = 0;
            },

            /**
             * Delete point.
             * 
             * @author Vicky Hariadi.
             */
            deletePoint(index) {
                this.model.sales.points.splice(index, 1);
            },

            /**
             * Add material to bom.
             * 
             * @author Vicky Hariadi.
             */
            addBom() {
                this.loading_bill = true;
                let bom = { ...this.bom };
                bom.item_display = this.options.items.find(row => row.id == bom.raw_item_id).name;
                bom.uom_display = this.options.uoms.find(row => row.id == bom.uom_id).alias;


                this.model.boms.push(bom);

                this.resetBom();
                $('#bomModal').modal('hide');
                this.loading_bill = false;
            },

            /**
             * Add material.
             * 
             * @author Vicky Hariadi.
             */
            deleteBom(index) {
                this.model.boms.splice(index, 1);
            },

            /**
             * Edit bom.
             * 
             * @author Vicky Hariadi.
             */
            editBom(index) {
                this.loading_bill = false;
                this.bom = { ...this.model.boms[index] }
                this.is_bom_editing = true;
                this.bom_edit_index = index;
                $('#bom_raw_item_id').val(this.bom.raw_item_id).change();
                $('#bom_uom_id').val(this.bom.uom_id).change();
                $('#bomModal').modal('show');
            },

            /**
             * Add bom material.
             * 
             * @author Vicky Hariadi.
             */
            updateBom() {
                this.loading_bill = true;
                let bom = { ...this.bom };
                bom.item_display = this.options.items.find(row => row.id == bom.raw_item_id).name;
                bom.uom_display = this.options.uoms.find(row => row.id == bom.uom_id).alias;

                this.model.boms.splice(this.bom_edit_index, 1, bom);
                $('#bomModal').modal('hide');
                this.resetBom();
                this.loading_bill = true;
            },

            /**
             * Add material to bom.
             * 
             * @author Vicky Hariadi.
             */
            resetBom() {
                this.bom = {
                    raw_item_id: '',
                    qty: 0,
                    unit_value: 0,
                    uom_id: '',
                };

                $('#bom_raw_item_id').val('').change();
                $('#bom_uom_id').val('').change();
                this.is_bom_editing = false;
                this.bom_edit_index = null;
            },

            addStock() {
                $('#stock_transdate').change();
                let stock = { ...this.stock };
                stock.warehouse_display = this.options.warehouses.find(row => row.id_warehouse == stock.warehouse_destination_id).name;
                let rack = this.options.racks.find(row => row.id_rack == stock.rack_destination_id);

                stock.rack_display = `${rack.main_rack_code} - ${rack.sub_rack_code}`;


                this.model.stocks.push(stock);

                this.resetStock();
                $('#stockModal').modal('hide');
            },

            /**
             * Update stock.
             * 
             * @author Vicky Hariadi.
             */
            updateStock() {
                let stock = { ...this.stock };
                stock.warehouse_display = this.options.warehouses.find(row => row.id_warehouse == stock.warehouse_destination_id).name;
                let rack = this.options.racks.find(row => row.id_rack == stock.rack_destination_id);

                stock.rack_display = `${rack.main_rack_code} - ${rack.sub_rack_code}`;

                this.model.stocks.splice(this.stock_edit_index, 1, stock);

                this.resetStock();
                $('#stockModal').modal('hide');
                
            },

            resetStock() {
                this.stock = {
                    warehouse_destination_id: '',
                    qty: 0,
                    rack_destination_id: '',
                    transdate: '',
                    sellable_stock: 0
                };

                this.options.racks = [];

                $('#stock_warehouse_destination_id').val('').change();
                $('#stock_rack_destination_id').val('').change();
                this.is_stock_editing = false;
                this.stock_edit_index = null;

                setTimeout(() => {
                    this.is_fetching_rack = false;
                }, 0)
            },

            /**
             * Delete begin stock.
             * 
             * @author Vicky Hariadi.
             */
            deleteStock(index) {
                this.model.stocks.splice(index, 1);
            },

            /**
             * Edit begin stock.
             * 
             * @author Vicky Hariadi.
             */
            editStock(index) {
                this.stock = { ...this.model.stocks[index] }
                this.is_stock_editing = true;
                this.stock_edit_index = index;
                $('#stock_warehouse_destination_id').val(this.stock.warehouse_destination_id).change();

                setTimeout(() => {
                    $('#stock_rack_destination_id').val(this.stock.rack_destination_id).change();
                }, 1000);
                
                $('#stockModal').modal('show');
                
            },



        },

        watch: {
            /**
             * Duplicate purchase name to sales name.
             * 
             * @author Vicky Hariadi.
             */
            'model.name': function (newVal) {
                this.model.sales.name = newVal;
            },

            /**
             * Change commission format.
             * 
             * @author Vicky Hariadi.
             */
            'model.sales.comm_type': function (newVal) {
                
                if (newVal == 'percent') {
                    this.formatter.commission = {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: ' %',
                        masked: false
                    };
                } else {
                    this.formatter.commission = {
                        thousands: '.',
                        precision: 0,
                        prefix: 'Rp. ',
                        suffix: '',
                        masked: false
                    };
                }
            },

            /**
             * Duplicate cogs to sales price as default
             */
            'model.cogs': function (newVal) {
               
            },

            /**
             * Change unit value format.
             * 
             * @author Vicky Hariadi.
             */
            'model.uom_id': function (uom_id) {
                let uom = this.options.uoms.find(row => uom_id == row.id);

                if (uom) {
                    this.formatter.unit_value.suffix = ` ${uom.alias}`;
                }
            },

            /**
             * Change unit value format.
             * 
             * @author Vicky Hariadi.
             */
            'bom.uom_id': function (uom_id) {
                let uom = this.options.uoms.find(row => uom_id == row.id);

                if (uom) {
                    this.formatter.bom_unit_value.suffix = ` ${uom.alias}`;
                }
            },
            
            /**
             * Fetch rack options when warehouse changed.
             * 
             * @author Vicky Hariadi.
             */
            'stock.warehouse_destination_id': function (warehouse_id) {
                this.fetchRacks(warehouse_id);
            },

            /**
             * Duplicate qty to sellable stock as default.
             * 
             * @author Vicky Hariadi.
             */
            'stock.qty': function (newVal) {
                this.stock.sellable_stock = newVal
            }
        }
    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

</style>
