<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-8">
                    <span style="font-size:20px; font-weight: bold;">ITEM</span>
                    <p v-if=" ! isFetching" style="font-size:15px; font-weight: bold;"><i>Inventory list of products & treatments.</i></p>
                    <p v-else style="font-size:15px; font-weight: bold;"><i class="fa fa-spin fa-refresh"></i> Loading...</p>
                </div>
                <div class="col-sm-4">
                    <router-link class="btn btn-success btn-float-right" :to="{ name: 'LogisticItemCreate' }">
                        <i class="fa fa-plus-circle"></i> Register New Item
                    </router-link>
                </div>
            </div>
        </div>
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-sm-2" style="margin-right:-50px">
                        <label for="">Select Warehouse</label>
                    </div>
                    <div class="col-sm-4">
                    <select id="warehouse" name="warehouse[]" class="form-control select2 select2-hidden-accessible"  style="width: 100%;" multiple="multiple" tabindex="-1" aria-hidden="true">
                            <option v-for="(row, index) in records.warehouse" :key="index" :value="row.id_warehouse" selected>
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary btn-sm" @click="fetchFilter(1)">
                            <div v-if="loading">
                                <i class="fa fa-spinner fa-spin"></i>
                                <span>Memproses...</span>
                            </div>
                            <div v-else>
                                <span>Apply</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-md-5" for="">Records per page</label>
                                <div class="col-md-7">
                                    <select class="form-control form-control-sm" v-model="filter.perPage" @change="fetch(filter.page)">
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <input type="text" class="form-control form-control-sm" v-model="filter.search" @keyup="waitAndSearch">
                            <small class="form-text text-muted" v-if="isFetching && filter.search">
                                <i class="fa fa-spin fa-refresh"></i> doing magic...
                            </small>
                        </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Actual Stock</th>
                                <th>COGS</th>
                                <th>Sales Price</th>
                                <th class="all" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in records.collections" :key="index">
                                <td>   
                                    <span v-if="isFetching">
                                            ...
                                    </span>
                                    <span v-else>
                                        {{ (filter.page * filter.perPage) - filter.perPage + index + 1}}
                                    </span>
                                </td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.type == 'product' ? 'Product' : 'Treatment' }}</td>
                                <template v-if="row.type == 'product'">
                                    <td>{{ row.stock === null ? 0 : row.stock }}</td>
                                </template>
                                <template v-else>
                                    <td>-</td>
                                </template>
                                
                                <td>{{ currency(row.cogs) }}</td>
                                <td>{{ currency(row.price) }}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" @click="edit(row.id)">
                                        <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button class="btn btn-sm btn-success" @click="detail(row.id)">
                                        <i class="fa fa-eye"></i> Detail
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                            <div class="col-md-6">
                                Total Items: {{ records.count.total }}
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-sm" :disabled="item.page == filter.page" :class="item.page == filter.page ? 'btn-primary' : 'btn-default'" v-for="(item, index) in paging.collections" :key="index" @click="fetch(item.page)">
                                        <span v-if="item.page == filter.page && isFetching">
                                            <i class="fa fa-spin fa-refresh"></i>
                                        </span>
                                        <span v-else>
                                            {{ item.page }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
                /**
                 * Records filtering (for query)
                 */

                filter: {
                    perPage: 20,
                    search: '',
                    page: 1,
                },

                searchTimer: null,
                
                warehouse: [],

                isFetching: false,

                records: {
                    collections: [],
                    count: {
                        total: 0
                    }
                },

                /**
                 * Pagination effect.
                 */
                paging: {
                    collections: [],
                    leftMargin: 4,
                    rightMargin: 3,
                    limit: 7
                },
                loading:false,
        }
    },

    mounted() {
        this.bootstrap();
        $('.select2').select2({
            placeholder: 'Choose option',
            width: '100%'
        });
    },

    methods: {
        bootstrap() {
            this.fetch(1);
        },


        /**
         * Fetch item list.
         * 
         * @author Vicky Hariadi.
         */
        fetch(page) {
                this.isFetching = true
                let params = {...this.filter}
                axios.get(`${BASEURL}/api/v1/logistics/items?perPage=`+this.filter.perPage+`&search=`+this.filter.search+`&page=`+page).then(({ data }) => {
                    this.filter.page = page
                    this.isFetching = false
                    this.records = data
                    
                    this.paging.collections = [] // reset paging numbering.
                    
                    let totalPages = Math.ceil(this.records.count.total / this.filter.perPage)
                    let start = 1
                    let end = this.paging.limit

                    if (totalPages > this.paging.limit) {
                        if ((this.filter.page - this.paging.leftMargin) > 0) {
                            start = this.filter.page - this.paging.leftMargin + 1
                            end = this.filter.page + this.paging.rightMargin
                        }

                        if ((this.filter.page + this.paging.rightMargin) > totalPages) {
                            end = totalPages
                        }
                    } else {
                        end = totalPages
                    }

                    for (let page = start; page <= end; page++) {
                        this.paging.collections.push({ page })
                    }
                })
        },

        waitAndSearch() {
            clearTimeout(this.searchTimer)
            this.searchTimer = setTimeout(this.search, 1500)
        },

        search() {
            this.fetchFilter(this.filter.page)
        },

          fetchFilter(page) {
            this.isFetching = true
            let params = {...this.filter};
            let warehouse = $('#warehouse').val();
            params.warehouse = warehouse;

            axios.get(`${BASEURL}/api/v1/logistics/items?perPage=`+this.filter.perPage+`&search=`+this.filter.search+`&page=`+page,{ params :  {warehouse: warehouse }}).then(({ data }) => {
                    this.filter.page = page
                    this.isFetching = false
                    this.records = data
                    
                    this.paging.collections = [] // reset paging numbering.
                    
                    let totalPages = Math.ceil(this.records.count.total / this.filter.perPage)

                    let start = 1
                    let end = this.paging.limit

                    if (totalPages > this.paging.limit) {
                        if ((this.filter.page - this.paging.leftMargin) > 0) {
                            start = this.filter.page - this.paging.leftMargin + 1
                            end = this.filter.page + this.paging.rightMargin
                        }

                        if ((this.filter.page + this.paging.rightMargin) > totalPages) {
                            end = totalPages
                        }
                    } else {
                        end = totalPages
                    }

                    for (let page = start; page <= end; page++) {
                        this.paging.collections.push({ page })
                    }
                })
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticItemDetail', params: { id } });
        },

        /**
         * Goto edit page.
         * 
         * @author Vicky Hariadi.
         */
        edit(id) {
            this.$router.push({ name: 'LogisticItemEdit', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>