<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-8">
                    <span style="font-size:20px; font-weight: bold;">ITEM</span>
                    <p style="font-size:15px; font-weight: bold;"><i>Inventory list of products & treatments.</i></p>
                </div>
                <div class="col-sm-4">
                    <router-link class="btn btn-success btn-float-right" :to="{ name: 'LogisticItemCreate' }">
                        <i class="fa fa-plus-circle"></i> Register New Item
                    </router-link>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-2" style="margin-right:-50px">
                    <label for="">Select Warehouse</label>
                </div>
                <div class="col-sm-4">
                   <select id="warehouse" name="warehouse[]" class="form-control select2 select2-hidden-accessible"  style="width: 100%;" multiple="multiple" tabindex="-1" aria-hidden="true">
                        <option v-for="(row, index) in warehouse" :key="index" :value="row.id_warehouse" selected>
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary btn-sm" @click="fetchFilter">
                        <div v-if="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            <span>Memproses...</span>
                        </div>
                        <div v-else>
                            <span>Apply</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actual Stock</th>
                        <th>COGS</th>
                        <th>Sales Price</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type == 'product' ? 'Product' : 'Treatment' }}</td>
                        <template v-if="item.type == 'product'">
                            <td>{{ item.mutations_count === null ? 0 : item.mutations_count }}</td>
                        </template>
                        <template v-else>
                            <td>-</td>
                        </template>
                        
                        <td>{{ item.cogs }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button class="btn btn-primary" @click="edit(item.id)">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                            <button class="btn btn-success" @click="detail(item.id)">
                                <i class="fa fa-eye"></i> Detail
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items: [],
            warehouse: [],
            loading: false
        }
    },

    mounted() {
        this.bootstrap();
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

    },

    methods: {
        bootstrap() {
            this.fetch();
        },


        /**
         * Fetch item list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/logistics/items`;

            axios.get(endpoint).then(res => {
                this.items = res.data.collection.map(row => {
                    row.price = this.currency(row.price);
                    row.cogs = this.currency(row.cogs);

                    if (row.type == 'service') {
                        row.stock = '-';
                        row.sellable_stock = '-';
                    }
                    return row;
                });

                this.warehouse = res.data.warehouse

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });

        },

        fetchFilter() {

            let endpoint = `${BASEURL}/api/v1/logistics/items`;
            let warehouse = $('#warehouse').val();

            axios.get(endpoint,{params: {warehouse: warehouse }}).then(res => {
                this.loading = false
                this.items = res.data.collection.map(row => {
                    row.price = this.currency(row.price);
                    row.cogs = this.currency(row.cogs);

                    if (row.type == 'service') {
                        row.stock = '-';
                        row.sellable_stock = '-';
                    }
                    return row;
                });

                this.warehouse = res.data.warehouse
                
                $('.table').DataTable().destroy();
                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
            this.loading = true
            
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticItemDetail', params: { id } });
        },

        /**
         * Goto edit page.
         * 
         * @author Vicky Hariadi.
         */
        edit(id) {
            this.$router.push({ name: 'LogisticItemEdit', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>