<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Detail Receive Item</span>
                    <p style="font-size:15px;"><i>Show received item list.</i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Supplier</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.supplier.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Received Date </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.transdate }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Received By</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.receiver.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Remarks</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">{{ model.remarks }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Item(s)</label>
                                <div class="col-md-10">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="30px">No.</th>
                                                <th>Item</th>
                                                <th>Received Qty</th>
                                                <th>at Warehouse</th>
                                                <th>on Rack</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="model.details.length">
                                            <tr v-for="(row, index) in model.details" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ row.item.name }}</td>
                                                <td>{{ row.received_qty }}</td>
                                                <td>{{ row.warehouse.name }}</td>
                                                <td>{{ row.rack.main_rack_code }} - {{ row.rack.sub_rack_code }}</td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="7">
                                                    No Details
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <a :href="'/receives/'+id+'/print'" target="_blank" class="btn btn-success pull-right">
                                Print
                                <i class="fa fa-print"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            id: '',
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                suppliers: [],
                purchases: [],
                items: [],
                racks: [],
                detail_racks: [],
                warehouses: [],
                users: []
            },
            
            detail: {
                item_id: '',
                order_detail_id: '',
                warehouse_id: '',
                received_qty: '',
                rack_id: '',
                warehouse_display: '',
                rack_display: '',
                item_display: ''
            },

            model: {
                supplier_id: '',
                supplier: {},
                warehouse: {},
                receiver: {},
                rack: {},
                warehouse_id: '',
                rack_id: '',
                order_id: '',
                transdate: '',
                remarks: '',
                details: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.id = this.$route.params.id;

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetchSuppliers();
            this.fetchItems();
            this.load();
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Load receive item detail.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives/${this.id}`;
           
            axios.get(endpoint).then(res => {
                this.model = res.data.model
            });
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchSuppliers() {
            let endpoint = `${BASEURL}/api/v1/suppliers/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.suppliers = res.data.options;

                $('#supplier_id').change(function () {
                    vm.model.supplier_id = $(this).val();
                });

                $('#order_id').change(function () {
                    vm.model.order_id = $(this).val();
                });

                let supplier_id = this.$route.query.supplier_id;
                if (supplier_id) {
                    setTimeout(() => {
                        $("#supplier_id").val(supplier_id).change();
                    }, 0);
                }
            });
        },

        /**
         * Fetch user options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUsers() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.users = res.data.options;

                $('#received_by').change(function () {
                    vm.model.received_by = $(this).val();
                });
            });
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchBanks() {
            let endpoint = `${BASEURL}/api/v1/banks/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.banks = res.data.options;

                $('#payment_method_id').change(function () {
                    vm.model.payment_method_id = $(this).val();
                });
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_id').change(function () {
                    vm.model.warehouse_id = $(this).val();
                });

                $('#detail_warehouse_id').change(function () {
                    vm.detail.warehouse_id = $(this).val();
                });
            });
        },

        /**
         * Fetch rack options by warehouse.
         * 
         * @author Vicky Hariadi.
         */
        fetchDetailRacks(warehouse_id) {
            if (warehouse_id == '') {
                return false;
            }

            let endpoint = `${BASEURL}/api/v1/racks/options/${warehouse_id}`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.detail_racks = res.data.options;

                $('#detail_rack_id').change(function () {
                    vm.detail.rack_id = $(this).val();
                });
            });
        },

        /**
         * Fetch rack options by warehouse.
         * 
         * @author Vicky Hariadi.
         */
        fetchRacks(warehouse_id) {
            if (warehouse_id == '') {
                return false;
            }

            let endpoint = `${BASEURL}/api/v1/racks/options/${warehouse_id}`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.racks = res.data.options;

                $('#rack_id').change(function () {
                    vm.model.rack_id = $(this).val();
                });
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchOrders(supplier_id) {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/suppliers/${supplier_id}`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.purchases = res.data.options;

                let order_id = this.$route.query.order_id;

                if (order_id) {
                    setTimeout(() => {
                        $("#order_id").val(order_id).change();       
                    }, 0);
                }
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        loadPurchaseOrder(order_id) {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders/${order_id}`;
        
            axios.get(endpoint).then(res => {
                this.model.details = res.data.model.details.filter(row => row.outstanding_qty > 0).map(row => {
                    let detail = { ...row }

                    return {
                        outstanding_qty: detail.outstanding_qty,
                        received_qty: 0,
                        item_id: detail.item_id,
                        item_display: detail.item.name,
                        warehouse_id: '',
                        rack_id: '',
                        warehouse_display: '(Please choose)',
                        rack_display: '(Please choose)',
                        order_detail_id: detail.id
                    };
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },


        /**
         * Auto fill detail warehouse when main warehouse is selected
         * 
         * @author Vicky Hariadi.
         */
        autoFillWarehouses(warehouse_id) {
            let warehouse = this.options.warehouses.find(row => row.id_warehouse == warehouse_id);

            if (this.model.details.length) {
                this.model.details.forEach(row => {
                    row.warehouse_display = warehouse.name;
                    row.warehouse_id = warehouse_id;
                    row.rack_display = `(please choose)`;
                    row.rack_id = '';
                });
            }
        },

        /**
         * Auto fill detail warehouse when main warehouse is selected
         * 
         * @author Vicky Hariadi.
         */
        autoFillRacks(rack_id) {
            let rack = this.options.racks.find(row => row.id_rack == rack_id);

            if (this.model.details.length) {
                this.model.details.forEach(row => {
                    row.rack_display = `${rack.main_rack_code} - ${rack.sub_rack_code}`;
                    row.rack_id = rack_id;
                });
            }
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives`;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your purchase order has been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'LogisticPurchaseReceiveIndex' });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store purchase order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Add item detail.
         * 
         * @author Vicky Hariadi.
         */
        addDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;
            
            this.model.details.push(detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            let detail = { ...this.detail };
            detail.warehouse_display = this.options.warehouses.find(row => row.id_warehouse == detail.warehouse_id).name;
            let rack = this.options.detail_racks.find(row => row.id_rack == detail.rack_id);

            detail.rack_display = `${rack.main_rack_code} - ${rack.sub_rack_code}`;

            this.model.details.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
            
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            };


            $('#detail_item_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Delete begin stock.
         * 
         * @author Vicky Hariadi.
         */
        deleteDetail(index) {
            this.model.details.splice(index, 1);
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            this.detail = { ...this.model.details[index] }
            this.is_detail_editing = true;
            this.detail_edit_index = index;

            $('#detail_warehouse_id').val(this.detail.warehouse_id).change();
            setTimeout(() => {
                $('#detail_rack_id').val(this.detail.rack_id).change();
            }, 750);
            $('#detailModal').modal('show');
            
        },
    },
}
</script>