<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-8">
                    <span style="font-size:20px; font-weight: bold;">RECEIVE ITEM</span>
                    <p style="font-size:15px; font-weight: bold;"><i>Form to notify for received item.</i></p>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <router-link class="btn btn-success" :to="{ name: 'LogisticPurchaseReceiveCreate' }">
                        <i class="fa fa-plus-circle"></i> Create Receive Item
                    </router-link>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="btn-float-right">
                        <p class="btn btn-date-custom">
                            <span id="btn_from"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="btn_to"></span>
                        </p>
                        <a class="btn btn-success" data-toggle="modal" data-target="#filterModal">
                            Change Periode
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th width="30px">No.</th>
                        <th>Code</th>
                        <th>Supplier</th>
                        <th>Received Date</th>
                        <th>Remarks</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in receives" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.code }}</td>
                        <td>{{ row.supplier.name }}</td>
                        <td>{{ row.transdate }}</td>
                        <td>{{ row.remarks }}</td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                            <button class="btn btn-success" @click="detail(row.id)">
                                <i class="fa fa-eye"></i> Detail
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="filterModal" role="dialog" aria-labelledby="filterLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="filterLabel">
                            Periode Receive
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <label for="from" class="col-md-3 control-label">Date From</label>
                            <div class="col-md-6">
                                <input id="from" type="text" class="date form-control" name="from">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="to" class="col-md-3 control-label">Date To</label>
                            <div class="col-md-6">
                                <input id="to" type="text" class="date form-control" name="to">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">Outlet</label>
                            <div class="col-md-6">
                                <select id="outlet" name="outlet[]" class="form-control select2 select2-hidden-accessible" data-placeholder="Select a Outlet" style="width: 100%;" multiple="multiple" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                    <option v-for="(row, index) in outlets" :key="index" :value="row.id_outlet" selected>
                                        {{ row.outlet_name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="fetchFilter">
                            <div v-if="loading">
                                <i class="fa fa-spinner fa-spin"></i>
                                Memproses...
                            </div>
                            <div v-else>
                                Change
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            receives: [],
            outlets: [],
            loading: false

        }
    },

    mounted() {
        $('.btn-date-custom').hide();
         $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.registerDatePicker();
        this.bootstrap();
        
    },

    methods: {
        bootstrap() {
            this.fetch();
        },

        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#from, #to').datepicker('setDate', 'today');
            $('#from, #to').change();
        },

        /**
         * Fetch receives list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives`;

            axios.get(endpoint).then(res => {
                this.outlets = res.data.outlet;

                this.receives = res.data.collection.map(row => {
                    row.total = this.currency(row.total);
                    return row;
                });

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        fetchFilter() {
            this.loading = true;
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives`;
            let vm = this;

            let from = $('#from').val().split('/').reverse().join('-');
            let to = $('#to').val().split('/').reverse().join('-');
            let outlet = $('#outlet').val();

            axios.get(endpoint, {params: { from: from, to: to, outlet: outlet }}).then(res => {
                this.receives = res.data.collection.map(row => {
                    row.total = this.currency(row.total);
                    return row;
                });

                $('.table').DataTable().destroy();
                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);

                $('.btn-date-custom').show();
                $('#btn_from').html($('#from').val());
                $('#btn_to').html($('#to').val());
                this.loading = false;
            })
            $('#filterModal').modal('hide');
        },
        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticPurchaseReceiveDetail', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>