<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8">
                            <span style="font-size:20px; font-weight: bold;">PATIENT</span>
                            <p v-if="! isFetching" style="font-size:15px; font-weight: bold;"><i>Patients list.</i></p>
                            <p v-else style="font-size:15px; font-weight: bold;"><i class="fa fa-spin fa-refresh"></i> Loading...</p>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-success btn-float-right" @click.prevent="newModal" ><i class="fa fa-plus-circle"></i> Add Patient</a>
                            <a href="/customers/export" v-if="superUser" class="btn btn-info btn-float-right" style="margin-right: 8px" ><i class="fa fa-download"></i> Export</a>
                            <a href="/customers/export-excel" v-show="isFullList" class="btn btn-primary btn-float-right btn-excel" style="margin-right: 8px" ><i class="fa fa-file-excel-o"></i> Export Excel</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-md-3">Outlet</label>
                                <div class="col-md-9">
                                    <select style="width: 100%" class="select2 form-control" id="active_outlet_id">
                                        <option></option>
                                        <option v-for="(item, index) in options.outlets" :value="item.id_outlet" :key="index">{{ item.outlet_name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-3">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <input type="number" class="form-control" placeholder="Input Nomor Antrian" v-model="formQueue.queue_number" @keyup.enter="goQueue">
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btn-float-right"  @click.prevent="goQueue" >
                                        <div v-if="loading">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                        <div v-else>
                                            <i class="fa fa-arrow-circle-right"></i>
                                            <span>GO</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <hr>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label for="">Kode</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                        <div class="col-md-4">
                            <label for="">Kode (Lama)</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                        <div class="col-md-4">
                            <label for="">Nama Pasien</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label for="">Tanggal Lahir</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                        <div class="col-md-4">
                            <label for="">No. Telp</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                        <div class="col-md-4">
                            <label for="">Alamat</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 text-right">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i> Cari
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <!-- <ul class="nav nav-tabs">
                        <div class="col-md-12">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-8">
                                    <li class="pull-left header " id="title-nav-tab-2" >
                                        <span style="font-size:20px; font-weight: bold;">PATIENTS TODAY</span>
                                        <p style="font-size:15px; font-weight: bold;"><i>list of all patients today.</i></p>
                                    </li>
                                    <li class="pull-left header" id="title-nav-tab-1" style="display:none;">
                                        <span style="font-size:20px; font-weight: bold;">FULL PATIENTS LIST</span>
                                        <p v-if=" ! isFetching" style="font-size:15px; font-weight: bold;"><i>All patient lists.</i></p>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </ul> -->
                        <ul class="nav nav-tabs" style="padding-left: 20px;">
                        <br>
                        <li class="active" id="tab2"><a href="#tab_2-2" data-toggle="tab" @click.prevent="navtab2">Antrian Hari Ini</a></li>
                        <li class="" id="tab1">
                            <a href="#tab_1-1" data-toggle="tab" @click.prevent="navtab1">Full List</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab_1-1">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-5" for="">Records per page</label>
                                            <div class="col-md-7">
                                                <select class="form-control form-control-sm" v-model="filter.perPage" @change="fetch(filter.page)">
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-6">
                                        <input type="text" class="form-control form-control-sm" v-model="filter.search" @keyup="waitAndSearch">
                                        <small class="form-text text-muted" v-if="isFetching && filter.search">
                                            <i class="fa fa-spin fa-refresh"></i> doing magic...
                                        </small>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                        <thead>
                                            <tr class="text-capitalize">
                                                <th>No.</th>
                                                <th class="all">Reff (old)</th>
                                                <th class="all">Reff</th>
                                                <th>Fullname</th>
                                                <th>Nickname</th>
                                                <th>Gender</th>
                                                <th>Birth Date</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Izzibook</th>
                                                <th class="all">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(row, index) in records.collections" :key="index">
                                                <td>
                                                    <span v-if="isFetching">
                                                        ...
                                                    </span>
                                                    <span v-else>
                                                        {{ (filter.page * filter.perPage) - filter.perPage + index + 1}}
                                                    </span>
                                                </td>
                                                <td>{{ row.induk_customer_old }}</td>
                                                <td>{{ row.induk_customer }}</td>
                                                <td>{{ row.full_name }}</td>
                                                <td>{{ row.nick_name }}</td>
                                                <td>{{ row.gender }}</td>
                                                <td>{{ row.birth_date }}</td>
                                                <td>{{ row.phone }}</td>
                                                <td>{{ row.address }}</td>
                                                <td v-if="row.izzibook_sync_status === 1"><i class="fa fa-check fa-lg"></i></td>
                                                <td v-else>&nbsp;</td>
                                                <td class="all">
                                                    <a :href="`/customers/${row.id_customer}`" class="btn btn-info btn-sm">Detail</a>
                                                    <a :href="`#`" class="btn btn-primary btn-sm" @click.prevent="editModal(row.id_customer)">Edit</a>
                                                    <button class="btn btn-danger btn-sm" @click.prevent="deletePatient(row.id_customer)" :disabled="row.total_invoice > 0">Delete</button>
                                                    <button class="btn btn-warning btn-sm" @click.prevent="addQueue(row.id_customer)">Antri</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        Total Customers: {{ records.count.total }}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-sm" :disabled="item.page == filter.page" :class="item.page == filter.page ? 'btn-primary' : 'btn-default'" v-for="(item, index) in paging.collections" :key="index" @click="fetch(item.page)">
                                                <span v-if="item.page == filter.page && isFetching">
                                                    <i class="fa fa-spin fa-refresh"></i>
                                                </span>
                                                <span v-else>
                                                    {{ item.page }}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab_2-2">
                             <div class="box-body">
                                <table class="tableQueue table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr class="text-capitalize">
                                            <th>No Antrian </th>
                                            <th class="all">Reff (old)</th>
                                            <th class="all">Reff</th>
                                            <th>Fullname</th>
                                            <th>Nickname</th>
                                            <th>Gender</th>
                                            <th>Birth Date</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Izzibook</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                          <tr v-for="(row, index) in queue" :key="index">
                                                <td style="text-align:center">
                                                     <a :href="`/customers/${row.id_customer}`">{{row.queue_number}} </a>
                                                </td>
                                                <td>{{ row.induk_customer_old }}</td>
                                                <td>{{ row.induk_customer }}</td>
                                                <td>{{ row.full_name }}</td>
                                                <td>{{ row.nick_name }}</td>
                                                <td>{{ row.gender }}</td>
                                                <td>{{ row.birth_date }}</td>
                                                <td>{{ row.phone }}</td>
                                                <td>{{ row.address }}</td>
                                                <td v-if="row.izzibook_sync_status === 1"><i class="fa fa-check fa-lg"></i></td>
                                                <td v-else>&nbsp;</td>
                                                <td>
                                                    <a :href="`/queue/${row.id_queue}/print-thermal`" class="btn btn-success btn-sm" target="_blank">Print</a>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal" id="modalcustomers" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" v-show="!editmode" id="addNewLabel">Add Patient</h2>
                    <h2 class="modal-title" v-show="editmode" id="addNewLabel">Update Patient</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times fa-lg"></i>
                    </button>
                    <span style="font-size:20px; font-weight: bold;" class="modal-title"></span>
                    <p style="font-size:15px; font-weight: bold;"><i class="modal-doc"></i></p>
                </div>
                <!--form @submit.prevent="editmode ? updatePatient() : createPatient()"-->
                <div class="modal-body">
                    <input v-model="form.id_customer" type="hidden" id="id_customer" name="id_customer">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="fullname">Full Name *</label>
                            <input v-model="form.full_name" type="text" name="full_name"
                                placeholder="Full Name"
                                class="form-control" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="nickname">Nickname *</label>
                            <input v-model="form.nick_name" type="text" name="nick_name" placeholder="Nick Name" class="form-control" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="contact">Mobile phone</label>
                            <input v-model="form.phone" type="text" class="form-control" id="phone" name="phone" autocomplete="off"
                                placeholder="Contact Number Active">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="username">E-mail</label>
                            <input v-model="form.email" type="text" class="form-control" id="email" name="email"
                                placeholder="Email Addres Active">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="gender">Gender</label>
                            <select style="width:100%" id="gender" type="text" class="form-control" name="gender" v-model="form.gender"
                                required>
                                <option value="">Select Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="country">Nationality *</label>
                            <select style="width: 100%" v-model="form.country_id" id="country_id" name="country_id" class="form-control" required>
                                <option value="" ></option>
                                <option v-for="(row, index) in options.countries" :key="index" :value="row.id_country">{{ row.country }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                           <label for="city">City *</label>
                            <select style="width: 100%" v-model="form.city_id" id="city_id" name="city_id" class="form-control" required>
                                <!-- <option v-for="(row, index) in options.cities" :key="index" :value="row.id_province">{{ row.province }}</option> -->
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="outlet">Outlet *</label>
                            <select style="width: 100%" v-model="form.outlet_id" id="outlet_id" name="outlet_id" class="form-control" required>
                                <option value=""></option>
                                <option v-for="(row, index) in options.outletis" :key="index" :value="row.id_outlet">{{ row.outlet_name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="place">Place / Date of Birth</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input v-model="form.birth_place" type="text" class="form-control" id="birth_place" name="birth_place" placeholder="Place" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control date" v-model="form.birth_date" id="birth_date" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="religion">Religion</label>
                            <select style="width: 100%" v-model="form.religion" class="form-control" name="religion" id="religion" required>
                                <option></option>
                                <option value="1">Islam</option>
                                <option value="2">Buddha</option>
                                <option value="3">Hindu</option>
                                <option value="4">Katolik</option>
                                <option value="5">Kristen</option>
                                <option value="6">Khonghucu</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="consultant">Served By</label>
                            <select style="width: 100%" v-model="form.consultant_id" id="consultant_id" name="consultant_id" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.consultantis" :key="index" :value="row.id_consultant">{{ row.consultant_name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="address">Current Residential Addres *</label>
                            <textarea v-model="form.address" class="form-control" placeholder="Address (Optional)" name="address" id="address" rows="1" required></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                        </div>
                        <div class="col-md-12 text-center">
                            <a id="btn-more" class="btn btn-success btn-sm" role="button" data-toggle="collapse" href="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                <strong>
                                    More
                                </strong>
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </a>
                        </div>
                        <hr>
                        <div class="collapse" id="collapseExample">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="role">Purpose Treatment</label>
                                <input v-model="form.purpose_treatment" type="text" class="form-control" name="purpose_treatment" id="purpose_treatment"
                                    placeholder="Purpose Treatment (Optional)">

                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="noktp">ID Card No </label>
                                <input v-model="form.ktp" type="text" class="form-control" id="ktp" name="ktp"
                                    placeholder="ID Number (Optional)" autocomplete="off" onkeypress="">

                            </div>

                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="zip">Zip Code </label>
                                        <input type="text" v-model="form.zip" class="form-control" id="zip" name="zip" placeholder="Zip Code (Optional)" autocomplete="off">

                                    </div>
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="place">Join Date</label>
                                        <input type="text" class="form-control date" v-model="form.join_date" id="join_date">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="occupation">Occupation </label>
                                        <input v-model="form.occupation" type="text" class="form-control" id="occupation" name="occupation"
                                            placeholder="Occupation (Optional)" autocomplete="off">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="place">Emergency Contact</label>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input v-model="form.nextofikin" type="text" class="form-control" id="nextofikin" name="nextofikin"
                                                    placeholder="Family Name (Optional)">
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="input-group">
                                                    <input v-model="form.nextofikin_number" type="text" class="form-control pull-right" id="nextofikin_number"
                                                        name="nextofikin_number" placeholder="Family Phone (Optional)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="role">How did you hear about us?</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select style="width: 100%" v-model="form.source_id" id="source_id" name="source_id" class="form-control">
                                                    <option value=""></option>
                                                    <option v-for="(row, index) in options.sourceis" :key="index" :value="row.id_marketing_source">{{ row.marketing_source_name }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input v-model="form.source_remarks" type="text" class="form-control pull-right" name="source_remarks"
                                                        id="source_remarks" placeholder="Source Remarks (Optional)">
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button v-show="editmode" type="button" @click="updatePatient()" class="btn btn-success">Update</button>
                            <button v-show="!editmode" type="button" @click="createPatient()" class="btn btn-primary">Create</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    <!--/form-->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!-- End Modal -->
</template>
<script>
    export default {
        data() {
            return {
                /**
                 * Records filtering (for query)
                 */
                editmode: false,
                loading: false,

                isFullList : false,

                active_outlet_id: '',

                formQueue:{
                    queue_number:'',
                },
                form:{

                    id_customer:'',
                    full_name:'',
                    nick_name: '',
                    phone:'',
                    email:'',
                    gender:'',
                    country_id:'',
                    city_id:'',
                    outlet_id:'',
                    birth_date:'',
                    birth_place:'',
                    religion:'',
                    consultant_id:'',
                    purpose_treatment:'',
                    ktp:'',
                    address:'',
                    zip:'',
                    join_date:'',
                    occupation:'',
                    nextofikin:'',
                    nextofikin_number:'',
                    source_remarks:'',
                    source_id:'',
                    membership_startdate:'',
                    membership_enddate:'',
                },
                options: {
                    countries: [],
                    cities: [],
                    outletis:[],
                    consultantis:[],
                    sourceis:[],
                    outlets: []
                },
                filter: {
                    perPage: 20,
                    search: '',
                    page: 1,
                },

                searchTimer: null,

                isFetching: false,

                records: {
                    collections: [],
                    count: {
                        total: 0
                    }
                },

                queue:[],

                /**
                 * Pagination effect.
                 */
                paging: {
                    collections: [],
                    leftMargin: 4,
                    rightMargin: 3,
                    limit: 7
                },
            }
        },

        async mounted() {
            this.registerSelec2()
            this.registerDatePicker();

            let vm = this
            $("#active_outlet_id").on('change', function() {
                vm.active_outlet_id = $(this).val()
                vm.fetchQueue()
            })

            this.options.outlets = await this.fetchUserOutlets()
            setTimeout(() => {
                $('#active_outlet_id').val(this.options.outlets[0].id_outlet).trigger('change')
            }, 0)
            this.bootstrap()
        },

        methods: {
            bootstrap() {
                this.fetch(1);
                this.fetchCountry();
                this.fetchOutlet();
                this.fetchConsultant();
                this.fetchSource();
            },

            navtab1(){
                this.isFullList = true;
                $("#title-nav-tab-1").show();
                $("#title-nav-tab-2").hide();
            },

            navtab2(){
                this.isFullList = false;
                $("#title-nav-tab-2").show();
                $("#title-nav-tab-1").hide();
            },

            async fetchUserOutlets() {
                let endpoint = `${BASEURL}/api/v1/users/outlets/options`
                return axios.get(endpoint).then(res => {
                    return res.data.options
                })
            },

            registerSelec2() {
                let vm = this
                $("select").select2({
                    width: 'resolve',
                    placeholder: 'Please Select'
                })
                $("#gender").on('change', function() {
                    vm.form.gender = $("#gender :selected").val()
                })
                $("#country_id").on('change', function() {
                    vm.form.country_id = $("#country_id :selected").val()
                    vm.fetchCity(vm.form.country_id)
                })
                $("#city_id").on('change', function() {
                    vm.form.city_id = $("#city_id :selected").val()
                })
                $("#outlet_id").on('change', function() {
                    vm.form.outlet_id = $("#outlet_id :selected").val()
                })
                $("#relegion").on('change', function() {
                    vm.form.relegion = $("#relegion :selected").val()
                })
                $("#consultant_id").on('change', function() {
                    vm.form.consultant_id = $("#consultant_id :selected").val()
                })
                $("#source_id").on('change', function() {
                    vm.form.source_id = $("#source_id :selected").val()
                })
            },
            formreset(){
                this.form.id_customer='';
                this.form.full_name='';
                this.form.phone='';
                this.form.email='';
                this.form.gender='';
                this.form.country_id='';
                this.form.city_id='';
                this.form.outlet_id='';
              //  this.form.birth_date='';
                this.form.birth_place='';
                this.form.religion='';
                this.form.consultant_id='';
                this.form.purpose_treatment='';
                this.form.ktp='';
                this.form.address='';
                this.form.zip='';
               // this.form.join_date='';
                this.form.occupation='';
                this.form.nextofikin='';
                this.form.nextofikin_number='';
                this.form.source_remarks='';
                this.form.source_id='';
            },
            createPatient(){
                //console.log("Create Data");
                let endpoint = `${BASEURL}/api/v1/customers/store`;
                axios.post(endpoint, this.form).then(res => {
                    swal({
                        title: 'Success',
                        text: 'Patient has been saved.',
                        icon: 'success'
                    });

                    $('#modalcustomers').modal('hide');
                    this.fetch(1);
                }).catch(e => {
                    var message = 'Could not Create Patient, please contact IT.';
                    if(e.response.status == 422){
                        message = e.response.data.message
                    }

                    swal({
                        title: 'Failed',
                        text: message,
                        icon: 'error'
                    });
                });

            },
            deletePatient($id){
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is Deleted.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                       this.destroyPatient($id);
                      // console.log("Delete Data")
                    }
                })
            },

            destroyPatient($id){

                let endpoint = `${BASEURL}/api/v1/customers/destroy/`+$id;
                axios.delete(endpoint, this.form).then(res => {
                    swal({
                        title: 'Success',
                        text: 'Patient has been Deleted.',
                        icon: 'success'
                    });

                    $('#modalcustomers').modal('hide');
                    this.fetch(1);
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not Create Patient, please contact IT.',
                        icon: 'error'
                    });
                });
            },
            updatePatient(){
               let endpoint = `${BASEURL}/api/v1/customers/update/${this.form.id_customer}`;
                axios.post(endpoint, this.form).then(res => {
                    swal({
                        title: 'Success',
                        text: 'Patient has been Updated.',
                        icon: 'success'
                    });

                    $('#modalcustomers').modal('hide');
                    this.fetch(1);
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not Create Patient, please contact IT.',
                        icon: 'error'
                    });
                });
            },

            addQueue($id){
                swal({
                    title: 'Are you sure?',
                    text: "Tambahkan ke Antrian.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                       this.storeQueue($id);
                      // console.log("Delete Data")
                    }
                })
            },

            storeQueue(id){
                let endpoint = `${BASEURL}/queue/store-new/${id}`;
                axios.post(endpoint, { outlet_id: this.active_outlet_id }).then(res => {
                    if(res.data.save == null){
                        swal({
                            title: 'Failed',
                            text: 'Nomor Antrian Pasien Sudah Ada.',
                            icon: 'info'
                        });
                    }else{
                        $("#tab_1-1").removeClass("active");
                        $("#tab_2-2").addClass("active");
                        $("#tab2").addClass("active");
                        $("#tab1").removeClass("active");
                        this.fetchQueue();

                        swal({
                            title: 'Success',
                            text: 'Patient has been Added.',
                            icon: 'success',
                            buttons: {
                                canceled:{
                                    text:'OK',
                                    value: 'ok',
                                    className: 'swal-button btn-primary'
                                },
                                print:{
                                    text:'Print',
                                    value: 'print',
                                    className: 'swal-button btn-danger'
                                },
                            },
                            dangerMode: true,

                        })
                        .then((option) => {
                            switch (option) {
                                case 'print':
                                  window.open(`${BASEURL}/queue/${res.data.save.id_queue}/print-thermal`,'_blank')
                                break;
                            }
                        });
                    }

                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not Added Patient, please contact IT.',
                        icon: 'error'
                    });
                });
            },

            goQueue(){
                let endpoint = `${BASEURL}/api/v1/customers/goQueue?outlet_id=${this.active_outlet_id}`;
                this.loading = true
                axios.post(endpoint, this.formQueue).then(res => {
                    if(res.data.id_customer == null){
                        this.loading = false
                        swal({
                            title: 'Failed',
                            text: 'Tidak Menemukan Antrian.',
                            icon: 'error'
                        });
                        this.formQueue.queue_number = '';
                    }else{
                        document.location.href = `${BASEURL}/customers/${res.data.id_customer}?tab=anamnesa`
                        return
                    }
                }).catch(e => {
                    this.loading = false
                    console.error(e);
                });
            },

            newModal(){
                this.editmode = false;
                this.formreset();
                $('#modalcustomers').modal('show');
            },

            editModal(id){
                this.editmode = true;
                this.formreset();
                let endpoint = `${BASEURL}/api/v1/customers/edit/${id}`;
                axios.get(endpoint).then(res => {

                    console.log(res.data)

                  let detail = res.data.map(row => {

                      let birthdate = row.birth_date.split('/').reverse().join('-')
                        this.form.id_customer=row.id_customer;
                        this.form.full_name=row.full_name;
                        this.form.nick_name = row.nick_name;
                        this.form.phone=row.phone;
                        this.form.email=row.email;
                        this.form.gender=row.gender;
                        this.form.country_id=row.country_id;
                        this.form.city_id=row.city_id;
                        this.form.outlet_id=row.outlet_id;
                        this.form.birth_date= birthdate;
                        this.form.birth_place=row.birth_place;
                        this.form.religion=row.religion;
                        this.form.consultant_id=row.consultant_id;
                        this.form.purpose_treatment=row.purpose_treatment;
                        this.form.ktp=row.ktp;
                        this.form.address=row.address;
                        this.form.zip=row.zip;
                        this.form.join_date=row.join_date;
                        this.form.occupation=row.occupation;
                        this.form.nextofikin=row.nextofikin;
                        this.form.nextofikin_number=row.nextofikin_number;
                        this.form.source_remarks=row.source_remarks;
                        this.form.source_id=row.source_id;
                        this.form.membership_startdate=row.membership_startdate;
                        this.form.membership_enddate=row.membership_enddate;

                        $("#gender").val(row.gender).change()
                        $("#country_id").val(row.country_id).change()

                        setTimeout(() => {
                            $("#city_id").val(row.city_id).change()
                        }, 500)


                        $("#outlet_id").val(row.outlet_id).change()
                        $("#relegion").val(row.relegion).change()
                        $("#consultant_id").val(row.consultant_id).change()
                        $("#source_id").val(row.source_id).change()
                    })
                });

                $('#modalcustomers').modal('show');

            },
            registerDatePicker() {
                $('.date').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });

                $('#birth_date').datepicker('setDate', '01/01/1985');
                $('#join_date').datepicker('setDate', 'today');
                $('#membership_startdate').datepicker();
                $('#membership_enddate').datepicker();

                let vm = this;

                $('#birth_date').change(function () {
                    let date = $(this).val();
                    vm.form.birth_date = date.split('/').reverse().join('-');
                });

                $('#birth_date').change();

                $('#join_date').change(function () {
                    let date = $(this).val();
                    vm.form.join_date = date.split('/').reverse().join('-');
                });

                $('#join_date').change();

                 $('#membership_startdate').change(function () {
                    let date = $(this).val();
                    vm.form.membership_startdate = date.split('/').reverse().join('-');
                });

                $('#membership_startdate').change();

                 $('#membership_enddate').change(function () {
                    let date = $(this).val();
                    vm.form.membership_enddate = date.split('/').reverse().join('-');
                });

                $('#membership_enddate').change();

            },
            async fetchCountry() {
                let endpoint = `${BASEURL}/api/v1/customers/optioncountry`;

                axios.get(endpoint)
                .then((response) => {
                    this.options.countries = response.data;
                    console.log(response.data);
                 })
                 .catch((err) => {

                })
            },
           async fetchCity(country_id) {
                let endpoint = `${BASEURL}/api/v1/customers/optioncity/${country_id}`;
                let option = "<option value=''>Please Select</option>";

                axios.get(endpoint)
                .then((response) => {
                    response.data.forEach(item => {
                        option += `<option value="${item.id_province}">${item.province}</option>`;
                    })
                    $("#city_id").html(option)
                    this.options.cities = response.data;
                 })
                 .catch((err) => {

                })
            },
            async fetchOutlet() {
                let endpoint = `${BASEURL}/api/v1/customers/optionoutlet`;

                axios.get(endpoint)
                .then((response) => {
                    this.options.outletis = response.data;
                 })
                 .catch((err) => {

                })
            },
            async fetchConsultant() {
                let endpoint = `${BASEURL}/api/v1/customers/optionconsultant`;

                axios.get(endpoint)
                .then((response) => {
                    this.options.consultantis = response.data;
                 })
                 .catch((err) => {

                })
            },
            async fetchSource() {
                let endpoint = `${BASEURL}/api/v1/customers/optionsource`;

                axios.get(endpoint)
                .then((response) => {
                    this.options.sourceis = response.data;
                 })
                 .catch((err) => {

                })
            },
            /**
             * Fetch records by given filter.
             *
             * @author Hariadi Vicky.
             */
            fetch(page) {

                this.isFetching = true
                this.filter.page = page

                let params = {...this.filter}

                axios.get(`${BASEURL}/api/v1/customers?perPage=`+this.filter.perPage+`&search=`+this.filter.search+`&page=`+page).then(({ data }) => {
                    this.isFetching = false
                    this.records = data

                    this.paging.collections = [] // reset paging numbering.

                    let totalPages = Math.ceil(this.records.count.total / this.filter.perPage)

                    let start = 1
                    let end = this.paging.limit

                    if (totalPages > this.paging.limit) {
                        if ((this.filter.page - this.paging.leftMargin) > 0) {
                            start = this.filter.page - this.paging.leftMargin + 1
                            end = this.filter.page + this.paging.rightMargin
                        }

                        if ((this.filter.page + this.paging.rightMargin) > totalPages) {
                            end = totalPages
                        }
                    } else {
                        end = totalPages
                    }

                    for (let page = start; page <= end; page++) {
                        this.paging.collections.push({ page })
                    }
                })
            },

            waitAndSearch() {
                clearTimeout(this.searchTimer)
                this.searchTimer = setTimeout(this.search, 1500)
            },

            search() {
                this.fetch(this.filter.page)
            },

            fetchQueue(){
                let endpoint = `${BASEURL}/api/v1/customers/queue?outlet_id=${this.active_outlet_id}`;

                axios.get(endpoint).then(res => {
                    this.queue = res.data.collection;
                    $('.table').DataTable().destroy();
                    setTimeout(() => {
                        $('.tableQueue').DataTable({
                            responsive : {
                                details : {
                                    type : 'column',
                                    target : 'tr'
                                }
                            },
                        });
                    }, 0);
                });
            }
        },

        computed: {
            superUser() {
                for (let level of LEVEL) {
                    if (level == "SUPER_USER") {
                        return true
                    }
                }

                return false
            }
        }
    }

</script>

<style scoped>
    .mb-2 {
        margin-bottom: 8px;
    }
</style>
