<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
            <div class="box-header with-border">
                <span style="font-size:20px;">Material Release</span>
                <p style="font-size:15px;"><i>Material release list</i></p>
            </div>
            <div class="box-header with-border">
                <router-link class="btn btn-success" :to="{ name: 'ManufactureMaterialReleaseCreate' }">
                    <i class="fa fa-plus-circle"></i> Create Material Release
                </router-link>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                        <thead>
                            <tr>
                                <th width="50px">No.</th>
                                <th>Code</th>
                                <th>Work Order Code</th>
                                <th>Material</th>
                                <th>Date</th>
                                <th>Qty</th>
                                <th>Released By</th>
                                <th class="all" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in releases" :key="index">
                                <td>{{ index + 1 }}</td>
                                <td>{{ row.code }}</td>
                                <td>{{ row.material.work_order_detail.work_order.code }}</td>
                                <td>{{ row.raw_item.name }}</td>
                                <td>{{ row.released_date }}</td>
                                <td>{{ row.released_qty }}</td>
                                <td>{{ row.releaser.name }}</td>
                                <td>
                                    <div class="btn-group-vertical btn-group-sm">
                                        <button class="btn btn-success btn-sm" @click="openDetail(row.id)">
                                            <i class="fa fa-eye"></i> Detail
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="detailModal" role="dialog" aria-labelledby="detailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="detailModalLabel">
                            Material Release Detail
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Code</label>
                                    <p class="form-control-static">{{ detail.code }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Work Order Code</label>
                                    <p class="form-control-static">{{ detail.material.work_order_detail.work_order.code }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Material</label>
                                    <p class="form-control-static">{{ detail.raw_item.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Warehouse Origin</label>
                                    <p class="form-control-static">{{ detail.warehouse_origin.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Released at</label>
                                    <p class="form-control-static">{{ detail.released_date }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Released by</label>
                                    <p class="form-control-static">{{ detail.releaser.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Released Qty</label>
                                    <p class="form-control-static">{{ detail.released_qty }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            releases: [],
            detail: {
                material: {
                    work_order_detail: {
                        work_order: {}
                    }
                },
                releaser: {},
                raw_item: {},
                warehouse_origin: {},
            }
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        async bootstrap() {
            await this.fetch();

            this.detectOpenModal();
        },

        /**
         * Detect open modal from work order.
         * 
         * @author Vicky Hariadi.
         */
        detectOpenModal() {
            let { material_release_id } = this.$route.query;

            if (material_release_id) {
                this.openDetail(material_release_id);
            }
        },


        /**
         * Fetch work order list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/manufactures/materials/releases`;

            return axios.get(endpoint).then(res => {
                this.releases = res.data.collection;

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        openDetail(id) {
            let detail = this.releases.find(row => row.id == id);
            this.detail = { ...detail }
            $('#detailModal').modal('show');
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>